﻿@model TruckManagementSystem.Models.Fleets

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Fleets</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fleet_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fleet_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Truck_Head_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truck_Head_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Truck_Trailer_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Truck_Trailer_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transit_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transit_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
