﻿@model PagedList.IPagedList<TruckManagementSystem.Models.Fleets>

@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@using (Html.BeginForm("Index", "Fleets", FormMethod.Get))
{
    <div class="row">


        <div class="input-group mb-3" style="padding-left:70%">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search By Fleet No" })
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" style="height:35px">Go</button>
            </div>
        </div>
    </div>
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>




<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">



            <table class="table">
                <tr>
                    <th>
                        Fleet No
                    </th>
                    <th>
                        Trucck Head Number
                    </th>
                    <th>
                        Truck Trailer Number
                    </th>
                    <th>
                     Transit Type  
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Fleet_No)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Truck_Header_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Truck_Trailer_Number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Transit_Type_String)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

    <br />
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    <br />
    <div class="row">

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))


    </div>


</div>