﻿
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center">REPAIR FORM</h4>


            <button type="button" class="close" data-dismiss="modal">&times;</button>


        </div>
        <div class="modal-body">

            <h3> check me out </h3>
        </div>
</div>