﻿
@model  TruckManagementSystem.ViewModels.IssueNoteViewModel


@using TruckManagementSystem.Helpers


    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center">Issue Note</h4>


            <button type="button" class="close" data-dismiss="modal">&times;</button>


        </div>


        @using (Html.BeginForm("EditIssueNote", "Maintenance", FormMethod.Post,
                                new { id = "jobcardform", enctype = "multipart/form-data" }))
        {

            @Html.HiddenFor(model => model.Id);

            @Html.HiddenFor(model => model.Reference_No);
            <!-- Modal body -->
            <div class="modal-body">

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-4 col-sm-4 col-xs-4">

                                <div class="row" style="margin-bottom:10px">
                                    @Html.Label("Job Number:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;width:44px;" })

                                    <div class="col-md-8">

                                        @Html.EditorFor(model => model.JOBNumber, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>

                                </div>


                                <div class=" row">
                                    @Html.Label("Issue Note No:", htmlAttributes: new { @style = "float:left;margin-right:10px;margin-left:14px;width:50px;" })

                                    <div class="col-md-8">
                                        @Html.EditorFor(model => model.Issue_Note_Number, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                    </div>
                                </div>


                                <div class=" row">
                                    @Html.Label("Vendor:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;" })

                                    <div class="col-md-8">

                                        @Html.EditorFor(model => model.Vendor_Name, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })


                                    </div>
                                </div>



                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">

                                <h3 style="text-align: center; font-weight: 600 !important; text-transform: uppercase">

                                    Issue Note
                                </h3>




                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <div style="float:left">Date:</div>

                                <div class=" col-sm-8" style="margin-left:65px; margin-bottom:10px">


                                    @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:165px" } })

                                </div>
                                <div style="float:left">Username: </div>

                                <div class="col-sm-8" style="margin-left: 65px">


                                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:165px" } })
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <table class="table  table-striped " id="Table1edit">
                        <thead>
                            <tr>
                                <th style="width:40px">ID</th>
                                <th style="width:250px">ITEM</th>
                                <th style="width:150px"> QUANTITY AVAILABLE</th>
                                <th style="width:150px"> QUANTITY REQUESTED</th>
                                <th style="width:150px"> UNIT</th>
                                <th style="width:150px"> UNIT PRICE </th>
                                <th style="width:150px"> SUBTOTAL</th>
                            </tr>

                        </thead>
                        <tbody>

                            @for (int i = 0; i < (Model.IssueNote_Line_Item.Count); i++)
                            {



                                @* @Html.HiddenFor(model => model.LPO_Line_Item[i].Status)*@


                                <tr id="@(i + 1 )">
                                    <td>
                                        @(i + 1)
                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.IssueNote_Line_Item[i].Item_Name, new { @class = "form-control input-sm", @placeholder = "Item", @readonly = "readonly" })

                                    </td>
                                    <td>
                                        @Html.HiddenFor(model => model.IssueNote_Line_Item[i].Stock_Id)
                                        @Html.TextBoxFor(model => model.IssueNote_Line_Item[i].Stock_Qty, new { @class = "form-control input-sm", @placeholder = "Quantity", @readonly = "readonly" })

                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.IssueNote_Line_Item[i].quantity, new { @class = "form-control input-sm", @placeholder = "Quantity", @readonly = "readonly" })

                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.IssueNote_Line_Item[i].Unit, new { @class = "form-control input-sm", @placeholder = "Price", @readonly = "readonly" })

                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.IssueNote_Line_Item[i].Price, new { @class = "form-control input-sm", @placeholder = "Price", @readonly = "readonly" })

                                    </td>
                                    <td>
                                        @Html.TextBoxFor(model => model.IssueNote_Line_Item[i].Total, new { @class = "form-control input-sm", @placeholder = "Total", @readonly = "readonly" })

                                    </td>
                                </tr>

                            }


                        </tbody>
                    </table>




                </div>

            </div>


            <div class="modal-footer">

                @if ((User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE)) && (Model.Status == Values.STATUS_PENDING))
                {




                    <button type="submit" class="btn btn-primary">Approve</button>

                }

            </div>


        }




        }
