﻿@model  TruckManagementSystem.ViewModels.RepairViewModel

@using TruckManagementSystem.Helpers



<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">REPAIR FORM</h4>


        <button type="button" class="close" data-dismiss="modal">&times;</button>


    </div>
    @using (Html.BeginForm("EditJobCard", "Maintenance", FormMethod.Post,
                              new { id = "jobcardform", enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(model => model.Header_Id);
        <!-- Modal body -->
        <div class="modal-body">



            <div class="col-md-12 row">
                <div class="col-md-6">
                    <div class="row">
                        <label class="col-sm-3">
                            <strong>Fleet No: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        </label>
                        <div class="col-sm-8">

                            @Html.EditorFor(model => model.Fleet_No, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "livesearch" } })
                            @Html.ValidationMessageFor(model => model.Fleet_No, "", new { @class = "text-danger" })


                            @*<input type="text" id="livesearch" value="" class="customsearch form-control input-sm" />*@
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3">
                            <strong>Truck No:</strong>
                        </label>
                        <div class="col-sm-8">

                            @Html.EditorFor(model => model.Truck_Head_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "truckregcreate" } })
                            @Html.ValidationMessageFor(model => model.Truck_Head_No, "", new { @class = "text-danger" })


                            @*<input type="text" id="truckregcreate" value="" class=" form-control input-sm" readonly />*@
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3">
                            <strong>Driver Name :</strong>
                        </label>
                        <div class="col-sm-8">

                            @Html.EditorFor(model => model.Driver_Name, new { htmlAttributes = new { @class = "form-control input-sm", @id = "drivernamecreate" } })
                            @Html.ValidationMessageFor(model => model.Driver_Name, "", new { @class = "text-danger" })


                            @*<input type="text" id="drivernamecreate" value="" class=" form-control input-sm" />*@
                        </div>
                    </div>


                </div>
                <div class="col-md-6 ml-auto">

                    <div class="row">
                        <label class="col-sm-3">
                            <strong>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                        </label>
                        <div class="col-sm-8">

                            @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control input-sm", @id = "datecreate" } })
                            @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })


                            @*<input type="text" id="datecreate" value="@DateTime.Now" class=" form-control input-sm" readonly />*@
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3">


                            <strong>Trailer No:</strong>
                        </label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Truck_Trailer_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "trailercreate" } })
                            @Html.ValidationMessageFor(model => model.Truck_Trailer_No, "", new { @class = "text-danger" })



                            @*<input type="text" id="trailercreate" value="" class=" form-control input-sm" readonly />*@
                        </div>
                    </div>

                    <div class="row">
                        <label class="col-sm-3">
                            <strong>Licence No :</strong>
                        </label>
                        <div class="col-sm-8">

                            @Html.EditorFor(model => model.Licence_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate" } })
                            @Html.ValidationMessageFor(model => model.Licence_No, "", new { @class = "text-danger" })


                            @*<input type="text" id="driverlicencecreate" value="" class=" form-control input-sm" />*@
                        </div>
                    </div>




                </div>

            </div>










            @*Modal body*@

            <div class="row">
                <table class="table  table-striped " id="Table1edit">
                    <thead>
                        <tr>
                            <th style="width:40px">ID</th>
                            <th style="width:250px">REPAIR DESCRIPTION</th>
                           
                            <th style="width:150px">STOCK NAME</th>
                            <th style="width:100px">STOCK QTY</th>
                            <th style="width:100px">QTY REQUESTED</th>
                            <th style="width:150px">PRICE</th>
                            <th style="width:150px">VENDOR</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < (Model.Line_Item.Count); i++)
                        {

                            @Html.HiddenFor(model => model.Line_Item[i].Details_Id)

                            @Html.HiddenFor(model => model.Line_Item[i].Status)


                            <tr id="@(i+1 )">
                                <td>
                                    @(i + 1)
                                </td>
                                <td>

                                    @Html.TextAreaFor(model => model.Line_Item[i].Item, new { @class = "form-control input-sm", @placeholder = "REPAIR DESCRIPTION", @readonly = "readonly" })

                                    @*<input type="text" class="form-control" placeholder="REPAIR DESCRIPTION">*@
                                </td>
                                <td>

                                    @Html.EditorFor(model => model.Line_Item[i].Stock_Name, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineid" + i, @readonly = "readonly" } })

                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Line_Item[i].Stock_Qty, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidstockqty" + i, @readonly = "readonly" } })

                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Line_Item[i].Qty_Requested, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidqtyrequested" + i, @readonly = "readonly" } })

                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Line_Item[i].Price, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidprice" + i, @style = "text-align:right",  @readonly = "readonly"} })

                                </td>

                                <td>
                                @Html.EditorFor(model => model.Line_Item[i].Vendor_Name, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidprice" + i, @style = "text-align:right", @readonly = "readonly" } })

                                    @*@if (Model.Line_Item[i].Status == Values.STATUS_ISSUE_NOTE)
                                    {

                                        @Html.DropDownListFor(model => model.Line_Item[i].Vendor, new SelectList(ViewBag.Vendors, "Supp_Name", "Supp_Name", "Issue Note"), "Select", new { @class = "form-control input-sm" })
                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.Line_Item[i].Vendor, new SelectList(ViewBag.Vendors, "Supp_Name", "Supp_Name", Model.Line_Item[i].Vendor ), "Select", new { @class = "form-control input-sm" })

                                    }*@


                                </td>
                            </tr>






                        }



                        <tr id="2">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>


                    </tbody>
                </table>
            </div>



        </div>

        <!-- Modal footer -->

<div class="modal-footer">

    
    @*<button type="submit" class="btn btn-success" >NEXT</button>*@

    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
</div>





        @*<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>*@
    }
</div>





<table class="sample" style="display:none">

    <tr>
        <td></td>
        <td>

            @Html.TextArea("Repair", new { @class = "form-control input-sm", @placeholder = "REPAIR DESCRIPTION" })



        </td>
        <td>


            @Html.DropDownList("Remark", new SelectList(ViewBag.Remarks, "Text", "Value"), "Select", new { @class = "form-control", @onchange = "javascript:CheckRemark(this.value, this);" })

        </td>

        <td>
            @Html.Editor("Stock_Name", new { htmlAttributes = new { @class = "form-control customsearch input-sm", @onclick = "javascript:CheckStock(this, this.id)" } })

        </td>
        <td>
            @Html.Editor("Stock_Qty", new { htmlAttributes = new { @class = "form-control customsearch input-sm", @readonly = "readonly" } })


        </td>
        <td>
            @Html.Editor("Qty_Requested", new { htmlAttributes = new { @class = "form-control customsearch input-sm" } })


        <td>
            <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
        </td>


    </tr>

</table>



<script>

    $(document).ready(function () {



         //$('#toggle-two').bootstrapToggle({
         // on: 'Accept',
         //    off: 'Reject',
         // width:'100px'

         //});

        $("#livesearch").autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetFleet", "Maintenance")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { searchstring: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);


                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetFleetDetails", "Maintenance"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;
                        $("#livesearch").val(item.Fleet_No);

                        $("#truckregcreate").val(item.Truck_Header_Number);
                        $("#trailercreate").val(item.Truck_Trailer_Number);



                    },
                    error: function (request, ajaxOptions, thrownError) {
                        sweetAlert('Failed to retrieve Item.');
                    }
                });
            }


        });


        $("#Table1edit").on("click", "#addBtnedit", function () {



            var currentrowid = parseInt($('#Table1edit tr:last').prev().attr('id'));



            currentrowid++;

            var row = jQuery('.sample tr').clone(true);

            row.find("input:text").val("");

            row.find("td:eq(1) textarea").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Item');
            row.find("td:eq(2) select").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Remark');
            row.find("td:eq(3) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Stock_Name');
            row.find("td:eq(3) input").attr('id', 'lineid' + (currentrowid - 1));
            row.find("td:eq(4) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Stock_Qty');
            row.find("td:eq(4) input").attr('id', 'lineidstockqty' + (currentrowid - 1));
            row.find("td:eq(5) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Qty_Requested');
            row.find("td:eq(5) input").attr('id', 'lineidqtyrequested' + (currentrowid - 1));

            row.attr('id', currentrowid);
            row.find("td:eq(0)").text(currentrowid)

            $('#Table1edit tr:last').before(row)
         //   row.appendTo('#Table1');
            return false;


        });




    });


            function removeItem(row) {



                row.closest('tr').remove();

    }



    function CheckRemark(value, object) {

        if (value == "Not Fixed") {

         }
      }


    function CheckStock(object, id) {



        var suffix = id.match(/\d+/)

        $("#" + id).autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetStock", "Maintenance")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { search: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);


                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetStockDetails", "Maintenance"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;
                        $("#" + id).val(item.Item_Name);

                        $("#lineidstockqty" + suffix).val(item.Qty_Bal);




                    },
                    error: function (request, ajaxOptions, thrownError) {
                        sweetAlert('Failed to retrieve Item.');
                    }
                });
            }


        });




















    }

    //$("#savemaintenance").click(function (e) {

    //    e.preventDefault();
    //});





</script>

<style>

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 5000 !important
    }


    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 20px;
    }

        .toggle.ios .toggle-handle {
            border-radius: 20px;
        }
</style>





