﻿

@model PagedList.IPagedList<TruckManagementSystem.Models.LPO_Header>

@using PagedList.Mvc;


@using (Ajax.BeginForm("LPOlist", "Maintenance",

    new AjaxOptions()
    {
        HttpMethod = "POST",

        UpdateTargetId = "result_content"

    }))
{
    <div class="row">


        <div class="input-group mb-3" style="padding-left:70%">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search By Job Card No Or LPO No" })
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" style="height:35px">Go</button>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">


            <div class="table-responsive">
                <table class="table mg-b-0">
                    <thead>
                        <tr>
                            <th>LPO No.</th>
                            <th>Job Card No.</th>
                            <th> Created Date</th>
                            <th>Created By</th>
                            <th>Vendor</th>
                            <th>Total</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.LPO_Number)</td>
                                <td> @Html.DisplayFor(modelItem => item.JOBNumber)</td>
                                <td> @Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                                <td> @Html.DisplayFor(modelItem => item.Vendor_Name)</td>
                                <td> @Html.DisplayFor(modelItem => item.Order_Total)</td>


                                <td><button class="btn fa fa-pencil fa-2x" value="@item.Id" onclick="javascript: editLPO(this, this.value)" style="color:#1b84e7"></button> </td>





                                <td></td>
                            </tr>



                        }


                    </tbody>





                </table>
            </div>

        </div>
    </div>


    @Html.PagedListPager(Model,
page => Url.Action("LPOlist", new { page, currentFilter = ViewBag.CurrentFilter }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic,
new AjaxOptions
{
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "Get",
    UpdateTargetId = "result_content"
}))



</div>

