﻿@model  TruckManagementSystem.ViewModels.LPOViewModel


@using TruckManagementSystem.Helpers

<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">LPO FORM</h4>


        <button type="button" class="close" data-dismiss="modal">&times;</button>


    </div>


    @using (Html.BeginForm("EditLPO", "Maintenance", FormMethod.Post,
                            new { id = "jobcardform", enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(model => model.Id);
        <!-- Modal body -->
        <div class="modal-body">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-4">

                            <div class="row" style="margin-bottom:10px">
                                @Html.Label("Job Number:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;width:44px;" })

                                <div class="col-md-8">

                                    @Html.EditorFor(model => model.JOBNumber, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>

                            </div>


                            <div class=" row">
                                @Html.Label("LPO No:", htmlAttributes: new { @style = "float:left;margin-right:10px;margin-left:14px;" })

                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.LPO_Number, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>


                            <div class=" row" style="margin-top:10px">
                                @Html.Label("Vendor:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;" })

                                <div class="col-md-8">
                                    @Html.HiddenFor(model => model.Vendor_Name, new { @class = "form-control input-sm vendorselect" })

                                    @Html.DropDownListFor(model => model.Vendor_Name, new SelectList(ViewBag.Vendors, "Supp_Name", "Supp_Name", Model.Vendor_Name), "Select", new { @class = "form-control input-sm", @disabled = "disabled" })

                                </div>
                            </div>



                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">

                            <h3 style="text-align: center; font-weight: 600 !important; text-transform: uppercase">

                                Local Purchase Order
                            </h3>




                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div style="float:left">Date:</div>

                            <div class=" col-sm-8" style="margin-left:65px; margin-bottom:10px">


                                @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:165px" } })

                            </div>
                            <div style="float:left">Username: </div>

                            <div class="col-sm-8" style="margin-left: 65px">


                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:165px" } })
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table  table-striped " id="Table1edit">
                    <thead>
                        <tr>
                            <th style="width:40px">ID</th>
                            <th style="width:250px">ITEM</th>
                            <th style="width:150px"> QUANTITY</th>
                            <th style="width:150px"> UNIT</th>

                            <th style="width:150px"> UNIT PRICE </th>
                            <th style="width:150px"> SUBTOTAL</th>
                        </tr>

                    </thead>
                    <tbody>

                        @for (int i = 0; i < (Model.LPO_Line_Item.Count); i++)
                        {

                            @*@Html.HiddenFor(model => model.LPO_Line_Item[i]. Details_Id)

                                @Html.HiddenFor(model => model.LPO_Line_Item[i].Status)*@


                            <tr id="@(i + 1 )">
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.LPO_Line_Item[i].Item_Name, new { @class = "form-control input-sm", @placeholder = "Item", @readonly = "readonly" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.LPO_Line_Item[i].quantity, new { @class = "form-control input-sm", @placeholder = "Quantity", @readonly = "readonly" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.LPO_Line_Item[i].Unit, new { @class = "form-control input-sm", @placeholder = "Quantity", @readonly = "readonly" })

                                </td>

                                <td>
                                    @Html.TextBoxFor(model => model.LPO_Line_Item[i].Price, new { @class = "form-control input-sm", @placeholder = "Price", @readonly = "readonly" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.LPO_Line_Item[i].Total, new { @class = "form-control input-sm", @placeholder = "Total" , @readonly = "readonly"})

                                </td>
                            </tr>

                        }


                    </tbody>
                </table>




            </div>

        </div>




        <div class="modal-footer">


            @Html.ActionLink("Print LPO", "PrintLPO", new { idparam = @Model.Id }, new { @class = "btn btn-success float-right", @style = "margin-right: 1px;" })

            @if ((User.IsInRole(Values.STORE_KEEPER) || User.IsInRole(Values.ADMIN_ROLE)) && (Model.Status == Values.STATUS_PENDING))
            {




            if (@Model.Status == Values.STATUS_RECEIVED)
            {


            }
            else
            {

            @Html.ActionLink("Create GRN", "Create_GRN", new { id = @Model.Id }, new { @class = "btn btn-success float-right", @style = "margin-right: 1px;" })
            }

            }

        </div>

    }




    

</div>