﻿@model  TruckManagementSystem.ViewModels.RepairViewModel



@Styles.Render("~/Content/bootstrap-datepicker.min.css")



<!-- The Modal -->


<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">REPAIR FORM</h4>


        <button type="button" class="close" data-dismiss="modal">&times;</button>


    </div>
    @using (Html.BeginForm("Create", "Maintenance", FormMethod.Post,
                              new { id = "repairform", enctype = "multipart/form-data" }))
    {

        <!-- Modal body -->
<div class="modal-body">



    <div class="col-md-12 row">
        <div class="col-md-6">
            <div class="row">
                <label class="col-sm-3">
                    <strong>Fleet No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Fleet_No, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "livesearch" } })
                    @Html.ValidationMessageFor(model => model.Fleet_No, "", new { @class = "text-danger" })


                    @*<input type="text" id="livesearch" value="" class="customsearch form-control input-sm" />*@
                </div>
            </div>

            <div class="row" style="margin-top:10px">
                <label class="col-sm-3">
                    <strong>Truck No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Truck_Head_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "truckregcreate" } })
                    @Html.ValidationMessageFor(model => model.Truck_Head_No, "", new { @class = "text-danger" })


                    @*<input type="text" id="truckregcreate" value="" class=" form-control input-sm" readonly />*@
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3">
                    <strong>Driver Name :</strong>
                </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Driver_Name, new { htmlAttributes = new { @class = "form-control input-sm", @id = "drivernamecreate" } })
                    @Html.ValidationMessageFor(model => model.Driver_Name, "", new { @class = "text-danger" })


                    @*<input type="text" id="drivernamecreate" value="" class=" form-control input-sm" />*@
                </div>
            </div>


        </div>
        <div class="col-md-6 ml-auto">

            <div class="row">
                <label class="col-sm-3">
                    <strong>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control input-sm  datepicker", @id = "datecreate" } })
                    @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })


                    @*<input type="text" id="datecreate" value="@DateTime.Now" class=" form-control input-sm" readonly />*@
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3">


                    <strong>Trailer No:</strong>
                </label>
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Truck_Trailer_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "trailercreate" } })
                    @Html.ValidationMessageFor(model => model.Truck_Trailer_No, "", new { @class = "text-danger" })



                    @*<input type="text" id="trailercreate" value="" class=" form-control input-sm" readonly />*@
                </div>
            </div>

            <div class="row">
                <label class="col-sm-3">
                    <strong>Licence No :</strong>
                </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Licence_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate" } })
                    @Html.ValidationMessageFor(model => model.Licence_No, "", new { @class = "text-danger" })


                    @*<input type="text" id="driverlicencecreate" value="" class=" form-control input-sm" />*@
                </div>
            </div>




        </div>
        <div class="col-md-6 mr-auto">

            <div class="row" style="margin-bottom:10px">
                <label class="col-sm-3">
                    <strong>Kilometers:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.EditorFor(model => model.Kilometers, new { htmlAttributes = new { @class = "form-control input-sm" } })
                    @Html.ValidationMessageFor(model => model.Kilometers, "", new { @class = "text-danger" })


                    @*<input type="text" id="datecreate" value="@DateTime.Now" class=" form-control input-sm" readonly />*@
                </div>
            </div>
        </div>
    </div>

 








        @*Modal body*@

        <div class="row">
            <table class="table  table-striped " id="Table1create">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>REPAIR DESCRIPTION</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @for (int i = 0; i < (Model.Line_Item.Count); i++)
                    {

                        <tr id="@(i+1 )">
                            <td>
                                @(i + 1)
                            </td>
                            <td>

                                @Html.EditorFor(model => model.Line_Item[i].Item, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "REPAIR DESCRIPTION" } })

                                @*<input type="text" class="form-control" placeholder="REPAIR DESCRIPTION">*@
                            </td>
                            <td></td>
                            <td></td>
                        </tr>






                    }



                    <tr id="2">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <button id="addBtncreate" style="float:  right;" type="button" class="btn btn-primary">Add Row</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>



    </div>

    <!-- Modal footer -->

    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="savemaintenance">Send to Workshop</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
    </div>





    @*<div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>*@
    }
</div>





<table class="samplecreate" style="display:none">

    <tr>
        <td></td>
        <td>
            @Html.TextArea("Repair", new { @class = "form-control input-sm", @placeholder = "REPAIR DESCRIPTION" })
        </td>

        <td>

        <td>
            <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
        </td>


    </tr>

</table>



<script>

    $(document).ready(function () {



          $(function () {




              $('#datecreate').datepicker({format:'dd/mm/yyyy'});                                    ///datepicker({ startDate: 0 });

        });




        $("#livesearch").autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetFleet", "Maintenance")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { searchstring: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);


                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetFleetDetails", "Maintenance"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;
                        $("#livesearch").val(item.Fleet_No);

                        $("#truckregcreate").val(item.Truck_Header_Number);
                        $("#trailercreate").val(item.Truck_Trailer_Number);



                    },
                    error: function (request, ajaxOptions, thrownError) {
                        sweetAlert('Failed to retrieve Item.');
                    }
                });
            }


        });


        $("#Table1create").on("click", "#addBtncreate", function () {




            var currentrowid = parseInt($('#Table1create tr:last').prev().attr('id'));



            currentrowid++;

            var row = jQuery('.samplecreate tr').clone(true);
            row.find("input:text").val("");
            row.find("td:eq(1) textarea").attr('name', 'Line_Item[' + (currentrowid -1) + '].Item');

            row.attr('id', currentrowid);
            row.find("td:eq(0)").text(currentrowid)

            $('#Table1create tr:last').before(row)
         //   row.appendTo('#Table1');
            return false;


        });




    });


            function removeItem(row) {



                row.closest('tr').remove();

    }


    //$("#savemaintenance").click(function (e) {

    //    e.preventDefault();
    //});





</script>

<style>

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 5000 !important
    }
</style>






