﻿ @model  TruckManagementSystem.ViewModels.RepairViewModel

@using TruckManagementSystem.Helpers



@Styles.Render("~/Content/bootstrap-datepicker.min.css")

<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">REPAIR FORM  @Html.DisplayFor(model =>  model.Make)</h4>


        <button type="button" class="close" data-dismiss="modal">&times;</button>


    </div>
    @using (Html.BeginForm("Edit", "Maintenance", FormMethod.Post,
                          new { id = "repairform", enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(model => model.Header_Id);
        <!-- Modal body -->
        <div class="modal-body">

            @{


                var temps = TempData["SendBackMessage"];

                var tempa = TempData["SendBackMessageProccess"];

                if (temps != null)
                {

                    <p class="alert alert-danger">This request was sent back for editing with the below message</p>


                    <p class="alert alert-danger" id="responseMessage">@Html.Raw(temps)</p>

                }

                if (tempa != null)
                {

                    <p class="alert alert-success">This request was sent back for editing with the below message and has been updated</p>


                    <p class="alert alert-danger" id="responseMessage">@Html.Raw(tempa)</p>

                }



            }



        <div class="col-md-12 row">
            <div class="col-md-6">
                <div class="row">
                    <label class="col-sm-3">
                        <strong>Fleet No: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                    <div class="col-sm-8">

                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {
                            @Html.EditorFor(model => model.Fleet_No, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "livesearch" } })
                        }
                        else
                        {

                            @Html.EditorFor(model => model.Fleet_No, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "livesearch", @readonly = "readonly" } })

                        }
                        @Html.ValidationMessageFor(model => model.Fleet_No, "", new { @class = "text-danger" })


                        @*<input type="text" id="livesearch" value="" class="customsearch form-control input-sm" />*@
                    </div>
                </div>

                <div class="row">
                    <label class="col-sm-3">
                        <strong>Truck No:</strong>
                    </label>
                    <div class="col-sm-8">

                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {
                            @Html.EditorFor(model => model.Truck_Head_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "truckregcreate" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Truck_Head_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "truckregcreate", @readonly = "readonly" } })

                        }
                        @Html.ValidationMessageFor(model => model.Truck_Head_No, "", new { @class = "text-danger" })


                        @*<input type="text" id="truckregcreate" value="" class=" form-control input-sm" readonly />*@
                    </div>
                </div>

                <div class="row" style="margin-top:5px;">
                    <label class="col-sm-3">
                        <strong>Driver Name :</strong>
                    </label>
                    <div class="col-sm-8">
                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {
                            @Html.EditorFor(model => model.Driver_Name, new { htmlAttributes = new { @class = "form-control input-sm", @id = "drivernamecreate" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Driver_Name, new { htmlAttributes = new { @class = "form-control input-sm", @id = "drivernamecreate", @readonly = "readonly" } })

                        }

                        @Html.ValidationMessageFor(model => model.Driver_Name, "", new { @class = "text-danger" })


                        @*<input type="text" id="drivernamecreate" value="" class=" form-control input-sm" />*@
                    </div>
                </div>


            </div>
            <div class="col-md-6 ml-auto">

                <div class="row" style="margin-top:5px;">
                    <label class="col-sm-3">
                        <strong>Date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
                    </label>
                    <div class="col-sm-8">

                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {
                            @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control input-sm datepicker", @id = "datecreateedit" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Created_Date, new { htmlAttributes = new { @class = "form-control input-sm ", @readonly = "readonly" } })

                        }
                        @Html.ValidationMessageFor(model => model.Created_Date, "", new { @class = "text-danger" })


                        @*<input type="text" id="datecreate" value="@DateTime.Now" class=" form-control input-sm" readonly />*@
                    </div>
                </div>

                <div class="row" style="margin-top:5px">
                    <label class="col-sm-3">


                        <strong>Trailer No:</strong>
                    </label>
                    <div class="col-sm-8">
                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {
                            @Html.EditorFor(model => model.Truck_Trailer_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "trailercreate" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Truck_Trailer_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "trailercreate", @readonly = "readonly" } })

                        }

                        @Html.ValidationMessageFor(model => model.Truck_Trailer_No, "", new { @class = "text-danger" })



                        @*<input type="text" id="trailercreate" value="" class=" form-control input-sm" readonly />*@
                    </div>
                </div>

                <div class="row" style="margin-top:5px;">
                    <label class="col-sm-3">
                        <strong>Licence No :</strong>
                    </label>
                    <div class="col-sm-8">
                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {
                            @Html.EditorFor(model => model.Licence_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Licence_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @readonly = "readonly" } })

                        }

                        @Html.ValidationMessageFor(model => model.Licence_No, "", new { @class = "text-danger" })


                        @*<input type="text" id="driverlicencecreate" value="" class=" form-control input-sm" />*@
                    </div>
                </div>




            </div>

            <div class="col-md-6 mr-auto">

                <div class="row" style="margin-top:5px;">
                    <label class="col-sm-3">
                        <strong>Job Card Number: </strong>
                    </label>
                    <div class="col-sm-8">
                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {

                            @Html.EditorFor(model => model.Job_Card_Reference_No, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Job_Card_Reference_No, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })

                        }

                        @Html.ValidationMessageFor(model => model.Job_Card_Reference_No, "", new { @class = "text-danger" })


                        @*<input type="text" id="datecreate" value="@DateTime.Now" class=" form-control input-sm" readonly />*@
                    </div>
                </div>

            </div>

            <div class="col-md-6 mr-auto">

                <div class="row" style="margin-top:5px;">
                    <label class="col-sm-3">
                        <strong>Kilometers: </strong>
                    </label>
                    <div class="col-sm-8">
                        @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                        {

                            @Html.EditorFor(model => model.Kilometers, new { htmlAttributes = new { @class = "form-control input-sm" } })
                        }
                        else
                        {
                            @Html.EditorFor(model => model.Kilometers, new { htmlAttributes = new { @class = "form-control input-sm", @readonly = "readonly" } })

                        }

                        @Html.ValidationMessageFor(model => model.Kilometers, "", new { @class = "text-danger" })


                        @*<input type="text" id="datecreate" value="@DateTime.Now" class=" form-control input-sm" readonly />*@
                    </div>
                </div>

            </div>

        </div>



            @*Modal body*@

            <div class="row">
                <table class="table  table-striped " id="Table1edit">
                    <thead>
                        <tr>
                            <th style="width:40px">ID</th>
                            <th style="width:250px">REPAIR DESCRIPTION</th>
                            <th style="width:150px">REMARKS</th>
                            <th style="width:150px">ITEM NAME</th>
                            <th style="width:100px">STOCK QTY</th>
                            <th style="width:150px">PRICE</th>

                            <th style="width:100px">QTY REQUESTED</th>
                            <th style="width:150px">VENDOR</th>
                            <th></th>
                            @*<th style="width:100px">APPROVAL</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < (Model.Line_Item.Count); i++)
                        {

                            if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
                            {

                                <tr id="@(i + 1 )">
                                    <td>
                                        @(i + 1)

                                        @Html.HiddenFor(model => model.Line_Item[i].Details_Id)

                                        @Html.HiddenFor(model => model.Line_Item[i].Stock_Id, new { @class = "stockidclass" })


                                        @Html.HiddenFor(model => model.Line_Item[i].Part_Number, new { id = "lineidpart" + i })

                                    </td>
                                    <td>

                                        @Html.TextAreaFor(model => model.Line_Item[i].Item, new { @class = "form-control input-sm", @placeholder = "REPAIR DESCRIPTION" })

                                        @*<input type="text" class="form-control" placeholder="REPAIR DESCRIPTION">*@
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Line_Item[i].Remark, new SelectList(ViewBag.Remarks, "Text", "Value", Model.Line_Item[i].Remark), new { @class = "form-control input-sm", @onchange = "javascript:CheckRemark(this.value, this);" })
                                    </td>
                                    <td>

                                        @Html.EditorFor(model => model.Line_Item[i].Stock_Name, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @onclick = "javascript:CheckStock(this, this.id)", @id = "lineid" + i } })

                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Line_Item[i].Stock_Qty, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidstockqty" + i, @readonly = "readonly" } })

                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Line_Item[i].Price, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidprice" + i, @style = "text-align:right" } })

                                    </td>

                                    <td>
                                        @Html.EditorFor(model => model.Line_Item[i].Qty_Requested, new { htmlAttributes = new { @class = "form-control customsearch input-sm qtyselected", @id = "lineidqtyrequested" + i, @onkeyup = "javascript:CheckQty(this, this.id)" } })

                                    </td>

                                    <td>

                                        @Html.DropDownListFor(model => model.Line_Item[i].Vendor, new SelectList(ViewBag.Vendors, "Supp_Id", "Supp_Name", Model.Line_Item[i].Vendor), "Select", new { @class = "form-control input-sm vendorselect", @id = "lineidvendor" + i })
                                        @Html.ValidationMessageFor(model => model.Line_Item[i].Vendor, "", new { @class = "text-danger" })
                                    </td>

                                    <td>

                                        <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
                                    </td>
                                    @*<td>*@
                                    @*@if (User.IsInRole(Values.OPERATIONS_MANAGER))
                                        {
                                            @Html.CheckBoxFor(model => model.Line_Item[i].Transport_Officer, new { @class = "form-control ", data_style = "ios", data_onstyle = "success", @id = "linecheckbox" + i })




                                        }
                                        else
                                        {

                                            <input type="checkbox" value="" disabled="disabled" style="width:36px;height:36px" id="@("linecheckbox" + i)" @(Model.Line_Item[i].Transport_Officer ? "checked=\"checked\"" : "") />


                                            @Html.HiddenFor(model => model.Line_Item[i].Transport_Officer, new { Value = @Model.Line_Item[i].Transport_Officer })


                                        }*@








                                    @*@if (User.IsInRole(Values.TRANSPORT_OFFICER_ROLE))
                                        {
                                            if (Model.Line_Item[i].Status == Values.STATUS_DOES_NOT_EXIST_IN_STOCK)
                                            {

                                                <button class="btn btn-primary" value=@Model.Line_Item[i].Details_Id onclick="javascript: createLPO(this, this.value)">Create LPO</button>


                                            }



                                        }*@


                                    @*</td>*@
                                </tr>

                            }
                            else
                            {
                                <tr id="@(i + 1 )">
                                    <td>
                                        @(i + 1)

                                        @Html.HiddenFor(model => model.Line_Item[i].Details_Id)

                                        @Html.HiddenFor(model => model.Line_Item[i].Stock_Id, new { @class = "stockidclass" })


                                        @Html.HiddenFor(model => model.Line_Item[i].Part_Number, new { id = "lineidpart" + i })

                                    </td>
                                    <td>

                                        @Html.TextAreaFor(model => model.Line_Item[i].Item, new { @class = "form-control input-sm", @placeholder = "REPAIR DESCRIPTION", @readonly = "readonly" })

                                        @*<input type="text" class="form-control" placeholder="REPAIR DESCRIPTION">*@
                                    </td>
                                    <td>
                                        @Html.DropDownListFor(model => model.Line_Item[i].Remark, new SelectList(ViewBag.Remarks, "Text", "Value", Model.Line_Item[i].Remark), new { @class = "form-control input-sm", @onchange = "javascript:CheckRemark(this.value, this);", @readonly = "readonly" })
                                    </td>
                                    <td>

                                        @Html.EditorFor(model => model.Line_Item[i].Stock_Name, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @onclick = "javascript:CheckStock(this, this.id)", @id = "lineid" + i, @readonly = "readonly" } })

                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Line_Item[i].Stock_Qty, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidstockqty" + i, @readonly = "readonly" } })

                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.Line_Item[i].Price, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "lineidprice" + i, @style = "text-align:right", @readonly = "readonly" } })

                                    </td>

                                    <td>
                                        @Html.EditorFor(model => model.Line_Item[i].Qty_Requested, new { htmlAttributes = new { @class = "form-control customsearch input-sm qtyselected", @id = "lineidqtyrequested" + i, @onkeyup = "javascript:CheckQty(this, this.id)", @readonly = "readonly" } })

                                    </td>

                                    <td>

                                        @Html.HiddenFor(model => model.Line_Item[i].Vendor, new { @class = "form-control input-sm vendorselect", @id = "lineidvendor" + i })

                                        @Html.DropDownListFor(model => model.Line_Item[i].Vendor, new SelectList(ViewBag.Vendors, "Supp_Id", "Supp_Name", Model.Line_Item[i].Vendor), "Select", new { @class = "form-control input-sm vendorselect", @id = "lineidvendor" + i, @disabled = "disabled" })
                                        @Html.ValidationMessageFor(model => model.Line_Item[i].Vendor, "", new { @class = "text-danger" })
                                    </td>
                                    @*<td>*@
                                    @*@if (User.IsInRole(Values.OPERATIONS_MANAGER))
                                        {
                                            @Html.CheckBoxFor(model => model.Line_Item[i].Transport_Officer, new { @class = "form-control ", data_style = "ios", data_onstyle = "success", @id = "linecheckbox" + i })




                                        }
                                        else
                                        {

                                            <input type="checkbox" value="" disabled="disabled" style="width:36px;height:36px" id="@("linecheckbox" + i)" @(Model.Line_Item[i].Transport_Officer ? "checked=\"checked\"" : "") />


                                            @Html.HiddenFor(model => model.Line_Item[i].Transport_Officer, new { Value = @Model.Line_Item[i].Transport_Officer })


                                        }*@








                                    @*@if (User.IsInRole(Values.TRANSPORT_OFFICER_ROLE))
                                        {
                                            if (Model.Line_Item[i].Status == Values.STATUS_DOES_NOT_EXIST_IN_STOCK)
                                            {

                                                <button class="btn btn-primary" value=@Model.Line_Item[i].Details_Id onclick="javascript: createLPO(this, this.value)">Create LPO</button>


                                            }



                                        }*@


                                    @*</td>*@
                                </tr>




                            }




                        }



                        <tr id="2">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                @if (User.IsInRole(Values.CLERK_ROLE) || User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE) && Model.Status == Values.STATUS_PENDING)
                                {
                                    <button id="addBtnedit" style="float:  right;" type="button" class="btn btn-primary">Add Row</button>
                                }
                            </td>
                        </tr>


                    </tbody>
                </table>
            </div>



        </div>

        <!-- Modal footer -->

        <div class="modal-footer">






            @if ((User.IsInRole(Values.WORKSHOP_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE)) && (Model.Status == Values.STATUS_PENDING || Model.Status == Values.STATUS_SENT_BACK_FOR_EDIT))
            {



                <button type="submit" class="btn btn-primary" id="savemaintenanceedit">Send To Transport Manager</button>

            }
            @*else if ((User.IsInRole(Values.OPERATIONS_MANAGER) || User.IsInRole(Values.ADMIN_ROLE)) && Model.Status == Values.STATUS_WAITING_FOR_OPERATIONS_MANAGER)
                {

                    <button type="button" class="btn btn-danger mr-auto" id="buttonsendbackforediting" onclick="sendBack()">Send Back For Editing</button>


                    <button type="submit" class="btn btn-primary" id="savemaintenanceedit">Send To Manager</button>

                }*@
            else if ((User.IsInRole(Values.TRANSPORT_MANAGER_ROLE) || User.IsInRole(Values.ADMIN_ROLE)) && Model.Status == Values.STATUS_WAITING_FOR_TRANSPORT_MANAGER)
            {

                <button type="button" class="btn btn-danger mr-auto" id="buttonsendbackforediting" onclick="sendBack()">Send Back For Editing</button>


                <button type="submit" class="btn btn-primary" id="savemaintenanceedit">Send To Accountant</button>

            }
            else if ((User.IsInRole(Values.ACCOUNTANT_ROLE) || User.IsInRole(Values.ADMIN_ROLE)) && Model.Status == Values.STATUS_WAITING_FOR_ACCOUNTANT)
            {

                <button type="button" class="btn btn-danger mr-auto" id="buttonsendbackforediting" onclick="sendBack()">Send Back For Editing</button>


                <button type="submit" class="btn btn-primary" id="savemaintenanceedit">Send To Country Manager</button>

            }
            else if ((User.IsInRole(Values.COUNTRY_MANAGER) || User.IsInRole(Values.ADMIN_ROLE)) && Model.Status == Values.STATUS_WAITING_FOR_COUNTRY_MANAGER)
            {

                <button type="button" class="btn btn-danger mr-auto" id="buttonsendbackforediting" onclick="sendBack()">Send Back For Editing</button>

                <button type="submit" class="btn btn-primary" id="savemaintenanceedit">Create Job Card</button>

            }




            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>

        @*<div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
            </div>*@




    }


</div>



<div id="ModalsendBackForm" class="modal fade" role="dialog">
    <div class="modal-dialog">


        @using (Html.BeginForm("SendBackForEdit", "Maintenance", FormMethod.Post,
                    new { id = "repairform", enctype = "multipart/form-data" }))
        {
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Add Comments Before Sending Back</h4>
                </div>
                <div class="modal-body">

                    <label class="col-sm-3">


                        <strong>Message:</strong>
                    </label>
                    <div class="col-sm-12">

                        @Html.TextAreaFor(model => model.Message, new { @class = "form-control input-sm", @id = "trailercreate", @rows = 4 })
                        @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })

                    </div>



                    @Html.HiddenFor(model => model.Header_Id)



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closesendbackform" onclick="sendBackDismiss()">Close</button>

                    <button type="submit" class="btn btn-primary">Send Back To WorkShop Manager</button>


                </div>
            </div>

        }
    </div>
</div>

<div id="modal-backdrop" class="modal-backdrop-transparent modal-transition"></div>


<table class="sample" style="display:none">

    <tr>
        <td>

  


        </td>
        <td>

            @Html.TextArea("Repair", new { @class = "form-control input-sm", @placeholder = "" })



        </td>
        <td>


            @Html.DropDownList("Remark", new SelectList(ViewBag.Remarks, "Text", "Value"), "Select", new { @class = "form-control", @onchange = "javascript:CheckRemark(this.value, this);" })

        </td>

        <td>
            @Html.Editor("Stock_Name", new { htmlAttributes = new { @class = "form-control customsearch input-sm", @onclick = "javascript:CheckStock(this, this.id)" } })

        </td>
        <td>
            @Html.Editor("Stock_Qty", new { htmlAttributes = new { @class = "form-control customsearch input-sm", @readonly = "readonly", @Value = 0 } })


        </td>
        <td>
            @Html.Editor("Price", new { htmlAttributes = new { @class = "form-control customsearch input-sm", @style = "text-align:right" } })

        </td>
        <td>
            @Html.Editor("Qty_Requested", new { htmlAttributes = new { @class = "form-control customsearch input-sm qtyselected", @onkeyup = "javascript:CheckQty(this, this.id)" } })

        </td>
        <td>
            @Html.DropDownList("Vendor", new SelectList(ViewBag.Vendors, "Supp_Id", "Supp_Name"), "Select", new { @class = "form-control vendorselect" })


        </td>
        <td>

            <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
        </td>


    </tr>

</table>






<script>

    $(document).ready(function () {



         //$('#toggle-two').bootstrapToggle({
         // on: 'Accept',
         //    off: 'Reject',
         // width:'100px'

         //});

          $(function () {




              $('#datecreateedit').datepicker({format:'dd/mm/yyyy'});                                    ///datepicker({ startDate: 0 });

        });

        $("#livesearch").autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetFleet", "Maintenance")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { searchstring: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);


                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetFleetDetails", "Maintenance"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;
                        $("#livesearch").val(item.Fleet_No);

                        $("#truckregcreate").val(item.Truck_Header_Number);
                        $("#trailercreate").val(item.Truck_Trailer_Number);



                    },
                    error: function (request, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }


        });


        $("#Table1edit").on("click", "#addBtnedit", function () {



            var currentrowid = parseInt($('#Table1edit tr:last').prev().attr('id'));


             $("#Table1edit .qtyselected").each(function () {

                 $(this).prop('readonly', true);


        });


            currentrowid++;

            var row = jQuery('.sample tr').clone(true);

            row.find("input:text").val("");

            row.find("td:eq(0) .stockidclass").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Stock_Id');
             row.find("td:eq(0) .stockidclass").attr('id', 'Line_Item_' + (currentrowid - 1) +'__Stock_Id');

            row.find("td:eq(1) textarea").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Item');
            row.find("td:eq(2) select").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Remark');
            row.find("td:eq(3) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Stock_Name');
            row.find("td:eq(3) input").attr('id', 'lineid' + (currentrowid - 1));
            row.find("td:eq(4) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Stock_Qty');
            row.find("td:eq(4) input").attr('id', 'lineidstockqty' + (currentrowid - 1));
            row.find("td:eq(4) input").val(0);

            row.find("td:eq(5) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Price');
            row.find("td:eq(5) input").attr('id', 'lineidprice' + (currentrowid - 1));


            row.find("td:eq(6) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Qty_Requested');
            row.find("td:eq(6) input").attr('id', 'lineidqtyrequested' + (currentrowid - 1));

            row.find("td:eq(7) select").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Vendor');
            row.find("td:eq(7) select").attr('id', 'lineidvendor' + (currentrowid - 1));


            row.attr('id', currentrowid);
          //  row.find("td:eq(0)").text(currentrowid)

            $('#Table1edit tr:last').before(row)
         //   row.appendTo('#Table1');
            return false;


        });


         $('#repairform').on('submit', function(e) {
    // check validation


             var boolvalue = true;
             var countervendor = 1;
        e.preventDefault();
          $("#Table1edit .vendorselect").each(function () {

              

                 var value = $(this).val();

              if (value == "" || value == "0") {

                  alert("Please choose vendor on line " + countervendor);

                  boolvalue = false;

                  countervendor = 1;
                 return false;
              }

              countervendor++;

        });


             var counterqty = 1;
         $("#Table1edit .qtyselected").each(function () {

            

                 var value = $(this).val();

              if (value == "" || value == "0") {

                  alert("Please enter quantity on line " + counterqty);


                  boolvalue = false;

                  counterqty = 1;
                  return false;
             }

              counterqty++;

             });


             var countername = 1;
                  $("#Table1edit .customsearch").each(function () {

           

                 var value = $(this).val();

              if (value == "" || value == "0") {

                  alert("Please enter item name on line " + countername);


                  boolvalue = false;

                  countername = 1;
                  return false;
             }

              countername++;

             });





             if (boolvalue == true) {
                 $('#repairform').get(0).submit();
             }

         });



    

        
    



    });


            function removeItem(row) {



                row.closest('tr').remove();

        //          $("#Table1edit .qtyselected").each(function () {

        //              var trowid = $(this).closest('tr').id();




        //         $(this).prop('readonly', false);


        //});

    }



    function CheckRemark(value, object) {

        if (value == "Not Fixed") {

         }
    }

    function sendBack() {

        $('#ModalsendBackForm').modal('show');

         var colorBackdrop = 'modal-backdrop-orange' ;

          $('#modal-backdrop').addClass(colorBackdrop);

    }

    function sendBackDismiss() {




      $('#ModalsendBackForm').modal('hide');
    }

      var myArray = [];
    function CheckStock(object, id) {
        

        var suffix = id.match(/\d+/)

        $("#" + id).autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetStock", "Maintenance")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { search: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);

                        if (data.length === 0) {
                            // Do logic for empty result.
                            alert("Item does not exist");
                        } else {

                             response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    
                        }

                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetStockDetails", "Maintenance"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;

                        $("#lineid" + suffix).val(item.Item_Name);

                        $("#lineidstockqty" + suffix).val(item.Qty_Bal);

                        $("#lineidprice" + suffix).val(item.Buy_Price);

                        $("#lineidpart" + suffix).val(item.Part_Number);



                         debugger

                        if (item.Qty_Bal > 0) {





                            var countloop = 0;




                         //    var index = contains.call(myArray, item.Stock_Id);


                            if (myArray === undefined || myArray.length == 0) {



                                $("#lineidvendor" + suffix + " option[value = " + 1 + "]").show();


                                $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', true);

                                $("#lineidprice" + suffix).prop('readonly', true);


                                $("#Line_Item_" + suffix + "__Stock_Id").val(item.Stock_Id);

                                myArray.push(suffix + "," + item.Stock_Id);


                            } else {


                            myArray.forEach(function (entryp) {
                                
                                var position = entryp.split(",")[0];
                                var arrayvalue = entryp.split(",")[1];

                                if (item.Stock_Id == arrayvalue) {

                                    var requestquantity = $("#lineidqtyrequested" + position).val();


                                    $("#lineidstockqty" + suffix).val(item.Qty_Bal - requestquantity);

                                    $("#lineidvendor" + suffix + " option[value = " + 1 + "]").hide();

                                    $("#Line_Item_" + suffix + "__Stock_Id").val(0);


                                    $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', false);

                                    $("#lineidprice" + suffix).prop('readonly', false);


                                } else {


                                    $("#lineidvendor" + suffix + " option[value = " + 1 + "]").show();


                                $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', true);

                                $("#lineidprice" + suffix).prop('readonly', true);


                                $("#Line_Item_" + suffix + "__Stock_Id").val(item.Stock_Id);

                                myArray.push(suffix + "," + item.Stock_Id);

                                }


                               });





                            }





                            //if (index == false) {


                            //    $("#lineidvendor" + suffix + " option[value = " + 1 + "]").show();


                            //    $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', true);

                            //    $("#lineidprice" + suffix).prop('readonly', true);


                            //    $("#Line_Item_" + suffix + "__Stock_Id").val(item.Stock_Id);

                            //    myArray.push(suffix + "," + item.Stock_Id);


                            //} else {



                            //    var requestquantity = $("#lineidrequested" + (suffix - 1)).val();


                            //         $("#lineidstockqty" + suffix).val(item.Qty_Bal - requestquantity);

                            //         $("#lineidvendor" + suffix + " option[value = " + 1 + "]").hide();

                            //         $("#Line_Item_" + suffix + "__Stock_Id").val(0);


                            //         $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', false);

                            //         $("#lineidprice" + suffix).prop('readonly', false);


                            //}







        //                     $("#Table1edit .stockidclass").each(function () {



        //                         var value = $(this).val();

        //                         var row = $(this).closest("tr");

        //                         debugger
        //                         var requestquantity = row.find("td:eq(6) input").val();

        //                         var index = contains.call(myArray, item.Stock_Id);

        //                         if (value == item.Stock_Id && index == false) {


        //                             $("#lineidstockqty" + suffix).val(item.Qty_Bal - requestquantity);

        //                             $("#lineidvendor" + suffix + " option[value = " + 1 + "]").hide();

        //                             $("#Line_Item_" + suffix + "__Stock_Id").val(0);


        //                             $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', false);

        //                             $("#lineidprice" + suffix).prop('readonly', false);

        //                             countloop++

        //                         } else {

        //                             debugger
        //                             if (countloop < 1) {

        //                                 var valuecheck = $("#Line_Item_" + suffix + "__Stock_Id").val();

        //                                 if (valuecheck != "") {
        //                                     if (valuecheck > 0) { }
        //                                     else {

        //                                         $("#Line_Item_" + suffix + "__Stock_Id").val(item.Stock_Id);

        //                                         myArray.push(item.Stock_Id);


        //                                     }

        //                                 } else {
        //                                        $("#Line_Item_" + suffix + "__Stock_Id").val(item.Stock_Id);
        //                                     myArray.push(item.Stock_Id);
        //                                 }
        //                                 }
        //                             }

        // //     counter++;

        //});







                            //$('<input>').attr({
                            //    type: 'hidden',
                            //    id: 'lineidvendorhidden' + suffix,
                            //    name: 'Line_Item[' + (suffix) + '].Vendor',
                            //  }).appendTo('form');



                        } else {



                            $("#lineidvendor" + suffix + " option[value = " + 1 + "]").hide();

                            $("#lineidvendor" + suffix).val("");

                              $("#lineidprice" + suffix).prop('readonly', false);

                               $("#lineidvendor" + suffix + " option[value = " + item.Vendor_Id + "]").prop('selected', false);

                        }



                    },
                    error: function (request, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }


        });




















    }


    function CheckQty(object, id) {

        debugger
        var intid = id.match(/\d+/);

          var stockid = $("#Line_Item_" + intid + "__Stock_Id").val();

        var available = Number($('#lineidstockqty' + intid).val());

        var requested = Number($('#lineidqtyrequested' + intid).val());

        if (stockid != 0 && available > 0) {

            if (requested > available) {

                var extrabalance = requested - available;
                Number($('#lineidqtyrequested' + intid).val(available));



            }


        }

        //var quantity = Number($('#getQty').val());
        //var rate = Number($('#getRate').val());
        //if (quantity > available) {
        //    $('#getQty').val(available);
        //    quantity = available;
        //}



    }

    //$("#savemaintenance").click(function (e) {

    //    e.preventDefault();
    //});






    var contains = function(needle) {
    // Per spec, the way to identify NaN is that it is not equal to itself


    var findNaN = needle !== needle;
    var indexOf;

    if(!findNaN && typeof Array.prototype.indexOf === 'function') {
        indexOf = Array.prototype.indexOf;
    } else {
        indexOf = function(needle) {
            var i = -1, index = -1;

            for(i = 0; i < this.length; i++) {
                var item = this[i];
                debugger

                if((findNaN && item !== item) || item === needle) {
                    index = i;
                    break;
                }
            }

            return index;
        };
    }

    return indexOf.call(this, needle) > -1;
};

</script>

<style>

    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 5000 !important
    }


    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 20px;
    }

        .toggle.ios .toggle-handle {
            border-radius: 20px;
        }

    .table td {
        padding-right: 4px;
        padding-left: 4px;
    }

    .modal-backdrop-orange {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        z-index: 1033;
    }
</style>




