﻿@model PagedList.IPagedList<TruckManagementSystem.Models.Maintenance_Book_Header>


@using PagedList.Mvc;




@using (Ajax.BeginForm("Index", "Maintenance", 
    
    new AjaxOptions()
{
    HttpMethod = "POST",
   
    UpdateTargetId = "result_content"

}))
{
    <div class="row" style="padding-top:10px">

 
            <div class="input-group col-md-6" style="padding-right:7%">
                @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
              
                @Html.DropDownList("statusid", new SelectList(ViewBag.Status_Select,"Value", "Text", ViewBag.CurrentFilter1),"Filter By Status", new { @class = "form-control", @style = "width:50%;" })
                <div class="input-group-append">
                    <input type="submit" value="Search" class="btn btn-success confirm-diag" />
                </div>
            </div>
      

        <div class="input-group col-md-6" style="padding-left:11%">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search By Job Card No Or Fleet No" })
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" style="height:35px">Go</button>
            </div>
        </div>
    </div>
}



<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="table-responsive">
                <table class="table mg-b-0">
                    <thead>
                        <tr>
                            <th>Ref No.</th>
                            <th>Job Card No.</th>
                            <th> Created Date</th>
                            <th>Created By</th>
                            <th>Fleet No.</th>
                            <th>Status</th>
                            <th>Edit</th>
                            @*<th>Delete</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Id)</td>
                            <td> @Html.DisplayFor(modelItem => item.Job_Card_Reference_No)</td>

                            @{

                                var converteddate = item.Created_At.ToShortDateString();
                             }
                            
                            
                            
                            <td> @Html.Raw(converteddate)</td>
                            <td> @Html.DisplayFor(modelItem => item.Transport_Officer)</td>
                            <td> @Html.DisplayFor(modelItem => item.Fleet_No)</td>
                            <td> @Html.DisplayFor(modelItem => item.Status_String)</td>


                            <td><button class="btn fa fa-pencil fa-2x" value="@item.Id" onclick="javascript: editRepairs(this, this.value)" style="color:#1b84e7"></button> </td>





                            @*<td></td>*@
                        </tr>



                        }


                    </tbody>





                </table>
            </div>

        </div>
    </div>

    <div id="myPage">
        @*@Html.PagedListPager(
            Model,
            page => Url.Action(
                "Index",
                    new
                    {
                        page,
                        currentFilter = ViewBag.CurrentFilter
                    }),
                new PagedListRenderOptions
                {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "prev",
                    LinkToNextPageFormat = "next",
                    LinkToLastPageFormat = ">>",
                }
            )*@


        @Html.PagedListPager(Model,
 page => Url.Action("Index", new { page,currentFilter = ViewBag.CurrentFilter, currentFilter1 = ViewBag.CurrentFilter1 }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(PagedListRenderOptions.Classic,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            HttpMethod = "Get",
            UpdateTargetId = "result_content"
        }))


    </div>
</div>
