﻿@model  TruckManagementSystem.ViewModels.PaymentViewModel


<div class="modal-content">

    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">Petty Cash Form</h4>


        <button type="button" class="close" data-dismiss="modal">&times;</button>


    </div>


    @using (Html.BeginForm("EditPayment", "Maintenance", FormMethod.Post,
                            new { id = "paymentform", enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(model => model.Id);
        <!-- Modal body -->
        <div class="modal-body">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-md-4 col-sm-4 col-xs-4">

                            <div class="row" style="margin-bottom:10px">
                                @Html.Label("Job Number:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;width:44px;" })

                                <div class="col-md-8">

                                    @Html.EditorFor(model => model.JOBNumber, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>

                            </div>


                            <div class=" row">
                                @Html.Label("Payment No:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;width:44px;" })

                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.Payment_Number, null, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>


                            <div class=" row" style="margin-top:10px">
                                @Html.Label("Vendor:", htmlAttributes: new { @style = "float:left;margin-right:18px;margin-left:14px;" })

                                <div class="col-md-8">
                                    @Html.DropDownListFor(model => model.Vendor_Name, new SelectList(ViewBag.Vendors, "Supp_Name", "Supp_Name", Model.Vendor_Name), "Select", new { @class = "form-control input-sm" })

                                </div>
                            </div>



                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">

                            <h3 style="text-align: center; font-weight: 600 !important; text-transform: uppercase">

                                Petty Cash Voucher
                            </h3>




                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div style="float:left">Date:</div>

                            <div class=" col-sm-8" style="margin-left:65px; margin-bottom:10px">


                                @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:165px" } })

                            </div>
                            <div style="float:left">Username: </div>

                            <div class="col-sm-8" style="margin-left: 65px">


                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @style = "width:165px" } })
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="row">
                <table class="table  table-striped " id="Table1edit">
                    <thead>
                        <tr>
                            <th style="width:40px">ID</th>
                            <th style="width:250px">ITEM</th>
                            <th style="width:150px"> QUANTITY</th>
                            <th style="width:150px"> UNIT PRICE </th>
                            <th style="width:150px"> SUBTOTAL</th>
                        </tr>

                    </thead>
                    <tbody>

                        @for (int i = 0; i < (Model.Payment_Line_Item.Count); i++)
                        {

                            @*@Html.HiddenFor(model => model.LPO_Line_Item[i]. Details_Id)

                                @Html.HiddenFor(model => model.LPO_Line_Item[i].Status)*@


                            <tr id="@(i + 1 )">
                                <td>
                                    @(i + 1)
                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Payment_Line_Item[i].Item_Name, new { @class = "form-control input-sm", @placeholder = "Item" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Payment_Line_Item[i].quantity, new { @class = "form-control input-sm", @placeholder = "Quantity" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Payment_Line_Item[i].Price, new { @class = "form-control input-sm", @placeholder = "Price" })

                                </td>
                                <td>
                                    @Html.TextBoxFor(model => model.Payment_Line_Item[i].Total, new { @class = "form-control input-sm", @placeholder = "Total" })

                                </td>
                            </tr>

                        }


                    </tbody>
                </table>




            </div>

        </div>



    }




    }
</div>