﻿@model TruckManagementSystem.ViewModels.LPOViewModel
@{
    Layout = "~/Views/Shared/_PrintTemplate.cshtml";
}




    <div class="container" style="background-color:white">
        <div class="row">
            <div style="width:1024px">
                <div class="col-12" style="width:1020px">
                    <div class="card" style="border:none">
                        <div class="card-body p-0">
                            <div class="row p-5">
                                <div class="col-12">
                                    <span>
                                        <h1 style="font-size:38px;display:inline">MOIL</h1>
                                    </span>
                                    <div style="float:right">
                                        <span style="display:inline">
                                            <p class="font-weight-bold mb-1">LPO No: @Model.LPO_Number</p>
                                            <p class="text-muted">Date: @Model.CreatedAt.ToShortDateString() </p>

                                        </span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h3 style="text-align:center">LOCAL PURCHASE ORDER</h3>
                                </div>

                            </div>

                            <hr class="my-1">

                            <div class="row pb-4 p-4">
                                <div class="col-12">
                                    <span style="display:inline-block">

                                        <p class="mb-1">Mansoor Industries LTD</p>
                                        <p>P.O. Box 2860</p>
                                        <p class="1">Dar Es Salaam</p>



                                    </span>
                                    <div style="float:right">
                                        <span style="display:inline">
                                            <p class="font-weight-bold mb-4">To:</p>
                                            <p class="mb-1"><span class="text-muted">Name: </span> @Model.Vendor_Name</p>
                                        </span>
                                    </div>

                                </div>

                            </div>

                            <div class="row p-4">
                                <div class="col-md-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-0 text-uppercase small font-weight-bold">ID</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Item</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Unit</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Quantity</th>
                                                <th class="border-0 text-uppercase small font-weight-bold">Unit Cost</th>
                                                <th class="border-0 text-uppercase small font-weight-bold" style="text-align:right">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @for (int i = 0; i < (Model.LPO_Line_Item.Count); i++)
                                            {

                                                @*@Html.HiddenFor(model => model.LPO_Line_Item[i]. Details_Id)

                                        @Html.HiddenFor(model => model.LPO_Line_Item[i].Status)*@


                                                <tr id="@(i + 1 )">
                                                    <td>
                                                        @(i + 1)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => model.LPO_Line_Item[i].Item_Name, new { @class = "form-control input-sm", @placeholder = "Item", @readonly = "readonly" })

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => model.LPO_Line_Item[i].quantity, new { @class = "form-control input-sm", @placeholder = "Quantity", @readonly = "readonly" })

                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(model => model.LPO_Line_Item[i].Unit, new { @class = "form-control input-sm", @placeholder = "Quantity", @readonly = "readonly" })

                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(model => model.LPO_Line_Item[i].Price, new { @class = "form-control input-sm", @placeholder = "Price", @readonly = "readonly" })

                                                    </td>
                                                    <td style="text-align:right">
                                                        @Html.DisplayFor(model => model.LPO_Line_Item[i].Total, new { @class = "form-control input-sm", @placeholder = "Total", @readonly = "readonly" })

                                                    </td>
                                                </tr>

                                            }


                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align:right">Subtotal:</td>
                                                @{

                                                    string totalsub = Model.Order_Total + " " + Model.Currency;
                                                }
                                                <td style="text-align:right"> @Html.Raw(totalsub)</td>
                                            </tr>

                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td style="text-align:right">Total:</td>

                                                @{

                                                    string total = Model.Order_Total + " " + Model.Currency;
                                                }

                                                <td style="text-align:right"> @Html.Raw(total)</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div id="footer">

                    <p>Prepared By:</p>

                    <p>Approved By:</p>


                </div>
            </div>


           
        </div>

    
    </div>

<style>

   html, .body{

        background-color:white;
        height:100%
    }

    #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-left:40px;
    margin-bottom:100px;
}
</style>
