﻿@using TruckManagementSystem.Helpers
@{
    ViewBag.Title = "Maintenance";
}

<h2>Maintenance</h2>

@if (User.IsInRole(Values.TRANSPORT_OFFICER_ROLE) || User.IsInRole(Values.ADMIN_ROLE))
{

    <button class="btn btn-primary" id="newRepairs">
        New Repair
    </button>

}

<div class="row col-md-12">
    <div class="col-md-2">
        <ul>
            <li>
                <a id="repairs"><i class="fa fa-fw fa-list-alt"></i>Repairs</a>
            </li>

            <li>
                <a id="jobCards"><i class="fa fa-fw fa-list-alt" ></i>Pending Job Cards</a>
            </li>

            <li>
                <a id="LPOs"><i class="fa fa-fw fa-list-alt"></i>LPO List</a>
            </li>

            <li>
                <a id="IssueNotes"><i class="fa fa-fw fa-list-alt"></i>Issue Note List</a>
            </li>


            <li>
                <a id="CashPayments"><i class="fa fa-fw fa-list-alt"></i>Cash Payments </a>
            </li>

            <li>
                <a id="jobCardsCompleted"><i class="fa fa-fw fa-list-alt" style="color:darkgreen"></i>Complete Job Cards</a>
            </li>
        </ul>



    </div>
    <div class="col-md-10" style="background-color:white" id="result_content">
        @Html.Action("Index", "Maintenance")

    </div>

</div>


<div id='myModal' class='modal hide fade in'>
    <div class="modal-dialog modal-lg" id="maitenanceCreate" style="width:900px">

    </div>
</div>

<div id='myModalEdit' class='modal hide fade in'>
    <div class="modal-dialog  modal-lg" id="maitenanceEdit" style="min-width:1100px">

    </div>
</div>

<div id='myModalcreateLPO' class='modal hide fade in'>
    <div class="modal-dialog modal-lg" id="maitenanceCreateLPO" style="min-width:900px">

    </div>
</div>

<div id='myModalIssueNote' class='modal hide fade in'>
    <div class="modal-dialog modal-lg" id="maitenanceCreateIssueNote" style="min-width:900px">

    </div>
</div>
<script>



    $("#repairs").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Index")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });


     $("#jobCards").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/JobCardPending")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });


    $("#LPOs").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/LPOlist")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });

    $("#IssueNotes").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/IssueNotelist")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });



     $("#CashPayments").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Paymentslist")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });


     $("#jobCardsCompleted").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/JobCardCompleted")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });



     $("#newRepairs").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Create")',

            success: function (result) {
                $('#maitenanceCreate').html(result);

                $('#myModal').modal('show');




            }
        });



    });

        function editRepairs(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Edit")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');




            }
        });


        }


      function editJobCard(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/EditJobCard")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');




            }
        });


        }


      function editLPO(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/EditLPO")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');
            }
        });


        }


      function editPayment(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/editPayment")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');




            }
        });


        }

          function editIssueNote(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/EditIssueNote")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceCreateIssueNote').html(result);

                $('#myModalIssueNote').modal('show');




            }
        });


        }




       $("#editRepairs").click(function (e) {

           e.preventDefault();

           var idparam = $('#editRepairs').val();








    });

      function createLPO(object, detailId) {
        
        debugger
      //    var suffix = detailId.match(/\d+/)

         var url = '@Url.Action("CreateLPO", "Maintenance")';


                $.ajax({
                    url: url, type: "GET",
                    data: { "rowid": detailId },
                    
                    success: function (result) {
                        // var a = $.parseJSON(data);
    debugger
                            $('#maitenanceCreateLPO').html(result);

                $('#myModalcreateLPO').modal('show');



                    }
                });



    }

    $(function() {
    $('#myPager').on('click', 'a', function() {
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            success: function(result) {
                $('#result_content').html(result);
            }
        });
        return false;
    });
});

</script>

<style>

    ul {
  list-style-type: none;
  margin:0px;
  padding:0px;
}
    ul > li {
        margin:5px;
    }


</style>

@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

}


