﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , shrink-to-fit=no">
    <title>@ViewBag.Title - Truck Management System</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/mainstyles")
    @Scripts.Render("~/bundles/bootstrap")


    <style>

        @@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1260px;
  }
}
    </style>


</head>
<body>

    <div class="slim-header">
        <div class="container">
            <div class="slim-header-left">
                <h2 class="slim-logo"><a href="@Url.Action("Index", "Home")">TMS</a></h2>

               
            </div><!-- slim-header-left -->
            <div class="slim-header-right">
       
                <div class="dropdown dropdown-c">
                    <a href="#" class="logged-user" data-toggle="dropdown">
                        <img src="~/Content/Images/image_user.png" alt="">
                        @if (User.Identity.IsAuthenticated)
                        {

                        <span style="color:white">
                            @User.Identity.Name
                        </span>

                        }

                        <i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <nav class="nav">
                            @*<a href="page-profile.html" class="nav-link"><i class="icon ion-person"></i> View Profile</a>
                    <a href="page-edit-profile.html" class="nav-link"><i class="icon ion-compose"></i> Edit Profile</a>
                    <a href="page-activity.html" class="nav-link"><i class="icon ion-ios-bolt"></i> Activity Log</a>
                    <a href="page-settings.html" class="nav-link"><i class="icon ion-ios-gear"></i> Account Settings</a>*@

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()


                                <a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link"><i class="icon ion-forward"></i> Sign Out</a>

                            }
                        </nav>
                    </div><!-- dropdown-menu -->
                </div><!-- dropdown -->
            </div><!-- header-right -->
        </div><!-- container -->
    </div><!-- slim-header -->

    <div class="slim-navbar">
        <div class="container">
            <ul class="nav">
                <li class="nav-item with-sub active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>Dashboard</span>
                    </a>

                </li>
                <li class="nav-item with-sub mega-dropdown">
                    <a class="nav-link" href="@Url.Action("Maintenance", "Maintenance")">
                        <i class="icon ion-ios-gear-outline"></i>
                        <span>Maintenance</span>
                    </a>

                </li>

                <li class="nav-item with-sub mega-dropdown">
                    <a class="nav-link" href="@Url.Action("Index", "Settings")">
                        <i class="icon ion-ios-settings"></i>
                      
                        <span>Settings</span>
                    </a>

                </li>
     
            </ul>
        </div><!-- container -->
    </div><!-- slim-navbar -->

    <div class="slim-mainpanel">
        <div class="container" id="dataholder">
            @*<div class="slim-pageheader">
                <ol class="breadcrumb slim-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                </ol>

            </div>*@

            @RenderBody()

        </div><!-- container -->
    </div><!-- slim-mainpanel -->

    <div class="slim-footer">
        <div class="container">
            <p>Copyright @DateTime.Now.Year &copy; All Rights Reserved. PBM Technologies</p>
           
        </div><!-- container -->
    </div><!-- slim-footer -->

  

    @RenderSection("scripts", required: false)
</body>
</html>
