﻿@model System.Web.Mvc.HandleErrorInfo





<h1 class="text-danger">Permission denied.</h1>
<h2 class="text-danger">Your not authorized to access this page.</h2>
<p>
    @*<a href="@Request.UrlReferrer.ToString()" class="btn btn-primary">Go Back</a>*@
</p>

