﻿@model TruckManagementSystem.Models.Items

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Name)
        </dd>

  
  
        <dt>
            @Html.DisplayNameFor(model => model.UoM_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UOM_String)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Part_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Part_Number)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Vehicle_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle_Type)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Stock_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock_Type)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
