﻿@model TruckManagementSystem.Models.Items

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Items</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemDateUpdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemDateUpdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UoM_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UoM_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Barcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Barcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemReference)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemReference)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Taxable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Taxable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock_Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Item_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
