﻿@model PagedList.IPagedList<TruckManagementSystem.Models.Items>


@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("Index", "Items", FormMethod.Get))
{
    <div class="row">


        <div class="input-group mb-3" style="padding-left:70%">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search By Item Name Or Part Number" })
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" style="height:35px">Go</button>
            </div>
        </div>
    </div>
}


<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">

            <table class="table">
                <tr>
                    <th>
                        Item Name
                    </th>
                    <th>
                        Unit Of Measure
                    </th>
                    <th>
                        Stock Type
                    </th>
                    <th>
                        Part Number
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UOM_String)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Stock_Type_Converted)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Part_Number)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Item_Id }) |
                            @*@Html.ActionLink("Details", "Details", new { id=item.Item_Id }) |*@
                            @Html.ActionLink("Delete", "Delete", new { id = item.Item_Id })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>


    <br />
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    <br />
    <div class="row">

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))


    </div>
</div>
