﻿@{
    ViewBag.Title = "Home Page";
}


<div class="col-md-12">






</div>




<div class="dash-headline">
 

    <div class="dash-headline-right">
  
        <div class="dash-headline-right-bottom">
            <div class="dash-headline-right-bottom-left col-md-12 row">
                <div class="dash-headline-item-three col-md-3">

                    <div>

                        <a href="@Url.Action("Maintenance", "Maintenance")" style="color:white">

                            <span class="inner-box-icon">
                                <i class="fa  fa-wrench fa-4x"></i>
                            </span>

                            <h2 style="color:white"> Maintenance </h2>

                        </a>


                        

                    </div>
                </div>
                <div class="dash-headline-item-three col-md-3">

                    <div>

                        <a href="@Url.Action("Index", "TripSheet")" style="color:white">

                            <span class="inner-box-icon">
                                <i class="fa  fa-truck fa-4x"></i>
                            </span>


                            <h2 style="color:white"> Transport</h2>

                        </a>


                    </div>
                </div>
                <div class="dash-headline-item-three col-md-3">

                    <div>

                        <a href="@Url.Action("Index", "Settings")" style="color:white">

                            <span class="inner-box-icon">
                                <i class="fa  fa-cogs fa-4x"></i>
                            </span>


                            <h2 style="color:white"> Settings </h2>

                        </a>


                    </div>
                </div>
                <div class="dash-headline-item-three col-md-3">

                    <div>

                        <a href="@Url.Action("Index", "Purchases")" style="color:white">

                            <span class="inner-box-icon">
                                <i class="fa  fa-building fa-4x"></i>
                            </span>


                            <h2 style="color:white"> Purchases </h2>


                        </a>

                    </div>
                </div>
                <div class="dash-headline-item-three col-md-3">

                    <div>

                        <a href="@Url.Action("Index", "Reports")" style="color:white">

                            <span class="inner-box-icon">
                                <i class="fa  fa-list-alt fa-4x"></i>
                            </span>

                            <h2 style="color:white"> Reports</h2>

                        </a>



                    </div>
                </div>
            </div><!-- dash-headline-right-bottom-left -->
      
        </div><!-- dash-headline-right-bottom -->
    </div><!-- wd-50p -->
</div><!-- d-flex ht-100v -->
