﻿﻿@model PagedList.IPagedList<TruckManagementSystem.ViewModels.CreditSuppliersLedgerViewModel>
@using PagedList.Mvc;
@using System.Globalization;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Credit Suppliers Ledger Report";
}

<h2>Credit Suppliers Ledger</h2>



<div id="loader" style="display:none; z-index: 5000;position: fixed; top: 0;left: 0;  background: rgba( 255, 255, 255, .8 ); width:100%; height:100%; background: rgba( 255, 255, 255, .8 ) url('@Url.Content("~/Content/Images/gear.svg")') 50% 50% no-repeat;">




</div>

@using (Html.BeginForm("CreditSuppliersLedger", "Reports", FormMethod.Get, new { enctype = "multipart/form-data" }))
{
    string start = string.Empty;

    string end = string.Empty;

    if (ViewBag.CurrentFilter3 != null && ViewBag.CurrentFilter4 != null)
    {
        start = ViewBag.CurrentFilter3.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture);

        end = ViewBag.CurrentFilter4.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture);
    }


    <div class="row">


        <div class="input-group mb-3" style="padding-right:70%">
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search By Job Card No Or Fleet No" })
            <div class="input-group-append">
                <button class="btn btn-success" type="submit" style="height:35px">Go</button>
            </div>
        </div>
    </div>




    <div class="row" style="text-align:right; margin-top: 20px;">

        <div class="col-md-2" style="float:right">
            <p style="text-align:left">From</p>
            <div class="input-group date">
                @Html.TextBox("start", start, new { @class = "form-control datepicker", @id = "dateselectionend", @placeholder = "Pick start date" })
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>

        </div>

        <div class="col-md-3" style="float:right">
            <p style="text-align:left">To</p>
            <div class="input-group date">
                @Html.TextBox("end", end, new { @class = "form-control datepicker", @id = "dateselectionstart", @placeholder = "Pick end date" })
                <div class="input-group-append">
                    <input type="submit" value="Filter By Date" class="btn btn-success confirm-diag" id="BtnSumbmit1" style="height:35px" />

                </div>
            </div>
        </div>



    </div>

    <div style="text-align:right;margin-top:10px">
        <p>

            @Html.ActionLink("Export to Excel", "ExportReportToExcel", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>

}










<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">

            <table class="table" id="pricelisttable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Truck No</th>
                        <th>Trailer No</th>
                        <th>Fleet No</th>
                        <th>Transit Type</th>
                        <th>Job card No</th>
                        <th>Order No</th>
                        <th>Item Name</th>
                        <th>Qty</th>
                        <th>Rate</th>
                        <th>Amount</th>
                        <th>Supplier</th>
                        <th>Received</th>


                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {


                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.Date)</td>
                            <td> @Html.DisplayFor(modelItem => item.Truck_No)</td>
                            <td> @Html.DisplayFor(modelItem => item.Trailer_No)</td>
                            <td> @Html.DisplayFor(modelItem => item.Fleet_No)</td>
                            <td> @Html.DisplayFor(modelItem => item.Transit_Type)</td>
                            <td> @Html.DisplayFor(modelItem => item.Job_Card_No)</td>
                            <td>@Html.DisplayFor(modelItem => item.Order_No)</td>
                            <td>@Html.DisplayFor(modelItem => item.Item_Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Qty)</td>
                            <td>@Html.DisplayFor(modelItem => item.Rate)</td>
                            <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                            <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
                            <td>@Html.DisplayFor(modelItem => item.Received)</td>
                        </tr>

                    }




                </tbody>




            </table>


        </div>
    </div>

    <br />
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    <br />
    <div class="row">

        @Html.PagedListPager(Model, page => Url.Action("CreditSuppliersLedger", new { page, currentFilter = ViewBag.CurrentFilter }))


    </div>


</div>

<script>


    $(document).ready(function () {

        // var minDate = $('#lastdate').val();

        var start = new Date();
        var end = new Date(new Date().setDate(new Date().getDate()))


        $(function () {

            $('#dateselectionstart').datepicker({ endDate: end });

            $('#dateselectionend').datepicker({ endDate: end });

        });

    });

      $("#BtnSumbmit1").click(function () {


        $('#loader').show();


    });

</script>