﻿
    <div class="row simple">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("PricelistReport", "Reports")"> <i class="fa fa-clock-o fa-2x"></i>Price List</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("StockListReport", "Reports")"> <i class="fa fa-clock-o fa-2x"></i>Stock List</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("StockLedgerReport", "Reports")"> <i class="fa fa-clock-o fa-2x"></i>Stock Ledger Report</a>
            </div>
        </div>



        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("SparesAndExpenses", "Reports")"> <i class="fa fa-clock-o fa-2x"></i>Spares And Expenses Report</a>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("CreditSuppliersLedger", "Reports")"> <i class="fa fa-clock-o fa-2x"></i>Credit Suppliers Ledger Report</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("CashSuppliersLedger", "Reports")"> <i class="fa fa-clock-o fa-2x"></i>Cash Suppliers Ledger Report</a>
            </div>
        </div>



    </div>
