﻿﻿@model PagedList.IPagedList<TruckManagementSystem.ViewModels.PriceListViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
             

                ViewBag.Title = "PriceList Report";
}


@using (Html.BeginForm("PricelistReport", "Reports", FormMethod.Get))
{
    <p>

    </p>
    <div class="col-md-5 input-group">
        @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
        <span style="float:left; margin-right:10px">Filter by Vendor</span>
        @Html.DropDownList("vendorid", (SelectList)ViewBag.VendorId, "Select Vendor", new { @class = "form-control", @style = "width:53%;" })
        <span class="input-group-btn " style="vertical-align:top">
            <input type="submit" value="Search" class="btn btn-success confirm-diag" />
        </span>
    </div>

    <div style="float:right">
        <p>

            @Html.ActionLink("Print Report", "PrintReport", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>
    <br />
    <div class="col-md-5 input-group">
        @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
        <span style="float:left;margin-right: 24px;">Filter by Item</span>
        @Html.DropDownList("itemid", (SelectList)ViewBag.Item_Id, "Select Item", new { @class = "form-control", @style = "width:53%;" })
        <span class="input-group-btn " style="vertical-align:top">
            <input type="submit" value="Search" class="btn btn-success confirm-diag" />
        </span>
    </div>







    <div style="text-align:right">
        <p>

            @Html.ActionLink("Export to Excel", "ExportReportToExcel", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>

}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-body box-danger">
                <div class="table-responsive">
                    <table class="table table-striped">

                        <thead>
                            <tr>

                                <th>Vendor Name</th>

                                <th>Item Name </th>

                                <th>Unit</th>

                                <th>Gross Buying Price</th>

                                <th>Net Buying Price</th>

                                <th> Tax</th>

                                <th>Selling Price</th>

                            </tr>

                        </thead>

                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Vendor_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Item_Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Unit_Of_Measure)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Buying_Price)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Buying_Price_No_Tax)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Taxable_String)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Selling_Price)
                                    </td>

                                </tr>
                            }

                        </tbody>





                    </table>
                </div>
            </div>
        </div>

        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("PriceListReport", new { page, currentFilter = ViewBag.CurrentFilter, start = ViewBag.Start, end = ViewBag.End }))


    </div>
