﻿﻿@model PagedList.IPagedList<TruckManagementSystem.ViewModels.StockLedgerViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "StockList Report";
}

<h2>StockList Report</h2>

@using (Html.BeginForm("StockListReport", "Reports", FormMethod.Get))
{
    <p>

    </p>
    <div class="col-md-5 input-group">
        @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
        <span style="float:left; margin-right:10px">Filter by Vendor</span>
        @Html.DropDownList("locationid", (SelectList)ViewBag.Location_Id, "Select Location", new { @class = "form-control", @style = "width:53%;" })
        <span class="input-group-btn " style="vertical-align:top;float:left">
            <input type="submit" value="Search" class="btn btn-success confirm-diag" />
        </span>
    </div>

    <div style="float:right">
        <p>

            @Html.ActionLink("Print Report", "PrintReport", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>
    <br />
    <div class="col-md-5 input-group">
        @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
        <span style="float:left;margin-right: 24px;">Filter by Item</span>
        @Html.DropDownList("itemid", (SelectList)ViewBag.Item_Id, "Select Item", new { @class = "form-control", @style = "width:53%;" })
        <span class="input-group-btn " style="vertical-align:top;float:left">
            <input type="submit" value="Search" class="btn btn-success confirm-diag" />
        </span>
    </div>








    <div style="text-align:right">
        <p>

            @Html.ActionLink("Export to Excel", "ExportReportToExcel", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>

}


<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="table-responsive">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>
                                Location
                            </th>
                            <th>
                                Item Name

                            </th>

                            <th>
                                Buy Price

                            </th>
                            <th>
                                Selling Price

                            </th>
                            <th>
                                Buying Currency

                            </th>

                            <th>
                                Unit

                            </th>
                            <th>
                                Quantity Balance

                            </th>
                            <th>
                                Balance Cost TZS
                            </th>
                           
                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location_String)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Buy_Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sell_Price)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Currency_Name)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.UoM)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty_Bal)
                                </td>

                                <td style="text-align:right">
                                    @*@Html.DisplayFor(modelItem => item.Stock_Value)*@
                                    @Html.DisplayFor(modelItem => item.Bal_Cost_TZS)
                                </td>

                              
                                <td></td>

                            </tr>
                        }

                    </tbody>





                </table>
            </div>
        </div>
    </div>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("StockListReport", new { page, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2 }))


</div>