﻿﻿@model PagedList.IPagedList<TruckManagementSystem.ViewModels.StockLedgerViewModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Stock Ledger Report";
}
@using System.Globalization;





@using (Html.BeginForm("StockLedgerReport", "Reports", FormMethod.Get, new { id = "stockledgerform" }))
{




    <div class="col-md-5">
        <div class="input-group" style="width:70%">
            @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
            <span style="float:left; margin-right:10px">Filter by Location</span>
            @Html.DropDownList("locationid", (SelectList)ViewBag.Location_Id, "Select Location", new { @class = "form-control", @style = "width:69%;", @id = "locationid" })
            <span class="input-group-btn " style="vertical-align:top;float:left">
                <input type="submit" value="Search" class="btn btn-success confirm-diag" id="locationbutton"  />
            </span>
        </div>
    </div>

    <br>





    <div style="float:right">
        <p>

            @Html.ActionLink("Print Report", "PrintReport", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>
    <br>


    <div class="col-md-5">
        <div class="input-group" style="width:70%">
            @*<p>@Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control" })</p>*@
            <span style="float:left;margin-right: 34px;">Filter by Item &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            @Html.DropDownList("itemid", (SelectList)ViewBag.Item_Id, "Select Item", new { @class = "form-control", @style = "width:53%;" })
            <span class="input-group-btn " style="vertical-align:top;float:left">
                <input type="submit" value="Search" class="btn btn-success confirm-diag" />
            </span>
        </div>
    </div>
    <br>

    <div class="col-md-5" style="float:initial; margin-top:30px">
        <span style="float:left; margin-right:55px">
            Start Date

        </span>
        <div class="input-group input-daterange">

            @{ var fromdate = string.Empty;

                var todate = string.Empty;

                if (ViewBag.CurrentFilter3 == null && ViewBag.CurrentFilter4 == null)
                {


                    fromdate = DateTime.Now.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture);

                    todate = DateTime.Now.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture);



                }
                else
                {

                    fromdate = ViewBag.CurrentFilter3;

                    todate = ViewBag.CurrentFilter4;




                }


            }

            <input type="text" id="fromdate" value="@Html.Raw(fromdate)" style="display:none" />



            @Html.TextBox("FromDate", fromdate, new { @class = "form-control datepicker", @id = "dateselection" })

            <div class="input-group-addon">to</div>

            @Html.TextBox("ToDate", todate, new { @class = "form-control datepicker", @id = "dateselection1" })

        </div>
    </div>

    <div style="text-align:right">
        <p>

            @Html.ActionLink("Export to Excel", "ExportReportToExcel", null, htmlAttributes: new { @class = "btn btn-success confirm-diag" })
        </p>

    </div>

}


<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="table-responsive">
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th>
                                Date
                            </th>
                            <th>
                                Item Name

                            </th>

                            <th>
                                Unit

                            </th>
                            <th>
                                Location

                            </th>
                            <th>
                                Used At
                            </th>
                            <th>
                                Qty In

                            </th>

                            <th>
                                Qty Out

                            </th>
                            <th>
                                Cost In

                            </th>
                            <th>
                                Cost Out
                            </th>
                            <th>
                                Qty Balance
                            </th>
                            <th>
                                Balance Cost TZ
                            </th>
                            <th>
                                Balance Cost USD
                            </th>

                            <th></th>

                        </tr>

                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item_Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UoM)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Location_String)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Consumed_Location)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty_In)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Qty_Out)
                                </td>

                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Cost_In)
                                </td>

                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Cost_Out)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Qty_Bal)


                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Bal_Cost_TZS)
                                </td>
                                <td style="text-align:right">
                                    @Html.DisplayFor(modelItem => item.Bal_Cost_USD)
                                </td>
                                <td></td>

                            </tr>
                        }

                    </tbody>





                </table>
            </div>
        </div>
    </div>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("StockLedgerReport", new { page, currentFilter = ViewBag.CurrentFilter, currentFilter2 = ViewBag.CurrentFilter2, currentFilter3 = ViewBag.CurrentFilter3, currentFilter4 = ViewBag.CurrentFilter4 }))


</div>

<script>

    $(document).ready(function () {

        var StartDate = $('#fromdate').val();


        $(function () {

            $('#dateselection').datepicker({format:'dd/mm/yyyy'});

            $('#dateselection1').datepicker({format:'dd/mm/yyyy'});

        });

    });


    $('#stockledgerform').submit(function (event) {

        event.preventDefault(); //this will prevent the default submit

        // your code here
        var location = $('#locationid').val();

        var datefrom = $('#dateselection').val();

        var dateto = $('#dateselection1').val();

        var convertedfrom = process(datefrom);

        var convertedto = process(dateto);


        if (datefrom == "" || dateto == "") {

            alert("Make Sure That Date Field Is Not Empty", "", "error")
            return false;

        }




        if (convertedfrom > convertedto)
        {

            sweetAlert("Start date cannot be greater than End Date", "", "error")
            return false;

        }









        if (location != "" && datefrom != "" && dateto != "") {


            $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
        } else
        {

            alert("Make sure that location and dates are selected", "", "error")
            return false;



        }



    })

    function process(date) {
        var parts = date.split("/");
        return new Date(parts[2], parts[1] - 1, parts[0]);
    }



</script>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
}

@Styles.Render("~/Content/bootstrap-datepicker.min.css")


