﻿@model IEnumerable<TruckManagementSystem.Models.Exchange_Rate>



<h2> Exchange Rate Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">


            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.from_currency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.to_currency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.exchange_date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.rate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.rate_description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.rate_status)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curr.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Curr1.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.exchange_date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.rate)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.rate_description)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status_String)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id = item.Exchange_Rate_Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Exchange_Rate_Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Exchange_Rate_Id })*@
                        </td>
                    </tr>
                }

            </table>

            </div>
        </div>
    </div>



