﻿
@{
    ViewBag.Title = "Edit_Purchase_Order";
}




    <div class="row ">
        <div class="col-md-12">
            @if (Model.LPO_Header.Status == Values.STATUS_PENDING)
            {

                @Html.ActionLink("Create GRN", "Create_GRN", new { id = @Model.LPO_Header.Id }, new { @class = "btn btn-success float-right", @style = "margin-right: 1px;" })
            }
                @Html.ActionLink("Print LPO", "Create_Purchase_Order", null, new { @class = "btn btn-success float-right", @style = "margin-right: 20px" })



            </div>
    </div>

@model  TruckManagementSystem.ViewModels.LPOCreateViewModel

@using TruckManagementSystem.Helpers


@using (Html.BeginForm("Edit_Purchase_Order", "Purchases", FormMethod.Post, new { id = "form1" }))
{

    @Html.AntiForgeryToken()


    <div class="card">
        <div class="card-body">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-4">

                   
                    @Html.HiddenFor(model => model.LPO_Header.Id)
                 

                    <div style="float:left;width:70px">Purchase Number: </div>

                    <div class="col-sm-8">
                     

                        @Html.TextBoxFor(model => model.LPO_Header.LPO_Number, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "width:135px"  })
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">

                    <h3 style="text-align: center; font-weight: 600 !important; text-transform: uppercase">

                       Local Purchase Order
                    </h3>




                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <div style="float:left">Date:</div>

                    <div class=" col-sm-8" style="margin-left:54px; margin-bottom:10px">

                        @{
                            var d = DateTime.Now;
                        }

                        @Html.TextBoxFor(model => model.LPO_Header.CreatedAt, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })

                    </div>
                    <div style="float:left">Username: </div>

                    <div class="col-sm-8" style="margin-left:54px">
                        @{
                            var user = System.Web.HttpContext.Current.User.Identity.Name;
                        }

                        @Html.TextBoxFor(model =>  model.LPO_Header.UserName, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "width:190px" })
                    </div>

                </div>

            </div>
        </div>
    </div>


    <div class=" row" style="margin-left:0;">

        <div style="overflow-x:auto;width:100%">

            <label>Vendor</label>

            @Html.DropDownListFor(model => model.LPO_Header.Vendor_Id, new SelectList(Model.Vedor_List, "Supp_Id", "Supp_Name"), "Select", new { @class = "form-control", @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetItemByVendor(this.value);" })
            @*@Html.DropDownListFor(m => m.Vendor_Id, new SelectList(ViewBag.Vendor_Id, "Supp_Id", "Supp_Name"), new { @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetCity(this.value);" })*@


            <table id="Table1edit" class="table table-bordered">
                <tbody>
                    <tr style="background-color:#3d566e; color:#ecf0f1">
                        <th>Item</th>
                        <th style="min-width:150px">Qty</th>
                        <th style="min-width:100px">Unit</th>
                        <th style="min-width:153px">Price</th>
                        <th style="min-width:100px">Currency</th>
                        <th style="min-width:150px">Total</th>
                        <th style="min-width:170px">Conversion Unit</th>
                        <th ></th>
                    </tr>


                    @for(int i = 0; i< Model.LPO_Details.Count; i++)
                    {

                        @Html.HiddenFor(x => x.LPO_Details[i].Id)

                        <tr id="@( i + 1)">
                            <td>
                                @Html.DropDownListFor(model => model.LPO_Details[i].Item_Id, new SelectList(Model.Item_List, "Item_Id", "Item_Name",Model.LPO_Details[i].Item_Id),null , new { @class = "form-control", @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetPrice(this.value, this);" })
                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.LPO_Details[i].quantity, null, htmlAttributes: new { @class = "form-control", @id = "getQty", @onkeyup = "javascript:GetTotal(this.value, this);", @type = "number", @step = "1", @min = "0", @style = "min-width:80px" })

                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.LPO_Details[i].Unit, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "background-color:white;min-width:60px" })

                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.LPO_Details[i].Price, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "background-color:white;min-width:80px" })

                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.LPO_Details[i].Currency, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "background-color:white;min-width:60px" })

                            </td>
                            <td>
                                @Html.TextBoxFor(model => model.LPO_Details[i].Total, null, htmlAttributes: new { @class = "form-control totalrow", @readonly = "readonly", @style = "background-color:white;min-width:100px", @onchange = "javascript:GrandTotal();"   })

                            </td>
                            <td>

                                @Html.TextBoxFor(model => model.LPO_Details[i].Conversion_Unit, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @style = "background-color:white;min-width:60px" })

                            </td>
                            <td>
                                <a href="#" class="fa fa-2x fa-trash" onclick="removeItem(this)"></a>
                            </td>

                        </tr>

                    }
                    </tbody>


                <tbody style="border-top:none">


                    <tr>

                        <td></td>

                        <td></td>

                        <td></td>

                        <td></td>
                        <td></td>

                        <td style=" float:right; padding-top:16px"><b>Total TZS</b></td>
                        <td id="totaltz"><input type="text" id="totaltzid" style="float:  right; background-color:white" class="form-control" readonly value="@Model.LPO_Details.Sum(x => x.Total)" /></td>
                        <td></td>

                        <td></td>



                    </tr>
                 

                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><input id="addBtn" type="button" value="Add Row" style="float:  right;margin-right: 100px;" class="btn btn-danger" /></td>




                    </tr>




            </table>

        </div>

    </div>


    <div class="row" style="margin-top:10px">
        <div class="col-lg-12">

            @if (Model.LPO_Header.Status == Values.STATUS_PENDING)
            {

            <input type="submit" class="btn btn-success float-right" style="margin-right: 100px;">
            }
            @*@Html.ActionLink("Create", " Create_Purchase_Order", null, new { @class = "btn btn-success float-right", @style = "float:right;margin-right: 100px;" })*@
        </div>

    </div>



}

<table class="sample" style="display:none">

    <tr>

        <td>
            @*<input type="hidden" id="itemname" name="itemname" readonly class="form-control">*@

            @Html.DropDownList("Item_Name", new SelectList(Model.Item_List, "Item_Id", "Item_Name"), "Select", new { @class = "form-control", @id = "ddlstate", @style = "width:200px;", @onchange = "javascript:GetPrice(this.value, this);" })




        </td>

        <td>
            @Html.TextBox("Qty", null, htmlAttributes: new { @class = "form-control", @id = "getQty", @onkeyup = "javascript:GetTotal(this.value, this);", @type = "number", @step = "1", @min = "0", @style = "min-width:80px" })
            @*<input type="text" tabindex="1" name="Qty" id="getQty" class="form-control  NumbersOnly" />*@
        </td>

        <td> <input type="text" name="unit" id="getUnit" class="form-control" readonly="readonly" style="background-color:white;min-width:60px" /></td>
        <td> <input type="text" name="price" id="getPrice" class="form-control" onkeyup="GetTotalNewPrice(this.value, this)" readonly="readonly" style="background-color:white;min-width:80px" /></td>
        <td> <input type="text" name="currency" id="getCurrency" class="form-control " readonly="readonly" style="background-color:white" /></td>
        <td> <input type="text" name="total" class="form-control totalrow" readonly="readonly" style="background-color:white;min-width:100px" onchange="GrandTotal()" /></td>
        <td> <input type="text" name="Conversion_Unit" class="form-control convunit" style="background-color:white; min-width:100px" /></td>

        <td>
            <a href="#" class="glyphicon glyphicon-remove" onclick="removeItem(this)"></a>
        </td>


    </tr>



</table>





<script>

    var auto = 0;

    function addrowonpageload() {

        debugger
        auto++;
        var row = jQuery('.sample tr').clone(true);
        row.find("input:text").val("");
        row.attr('id', auto);
         row.find("td:eq(0) select").attr('name', 'LPO_Details[' + (auto - 1) + '].Item_Id');
         row.find("td:eq(1) input").attr('name', 'LPO_Details[' + (auto - 1) + '].quantity');
         row.find("td:eq(2) input").attr('name', 'LPO_Details[' + (auto - 1) + '].Unit');
         row.find("td:eq(3) input").attr('name', 'LPO_Details[' + (auto - 1) + '].Price');
         row.find("td:eq(4) input").attr('name', 'LPO_Details[' + (auto - 1) + '].Currency');
         row.find("td:eq(5) input").attr('name', 'LPO_Details[' + (auto - 1) + '].Total');
         row.find("td:eq(6) input").attr('name', 'LPO_Details[' + (auto - 1) + '].Conversion_Unit');

        row.appendTo('#Table1edit');
        return false;

    }


    jQuery(document).ready(function () {


        var counter = @Model.LPO_Details.Count();

        //for (i = 0; i < counter; i++) {

        //    addrowonpageload();

        //}


        $("#Table1edit").on("click", "#addBtn", function () {


            counter++;
            var row = jQuery('.sample tr').clone(true);
            row.find("input:text").val("");
            row.attr('id', counter);
            row.find("td:eq(0) select").attr('name', 'LPO_Details[' + (counter - 1) + '].Item_Id');
            row.find("td:eq(1) input").attr('name', 'LPO_Details[' + (counter - 1) + '].quantity');
            row.find("td:eq(2) input").attr('name', 'LPO_Details[' + (counter - 1) + '].Unit');
            row.find("td:eq(3) input").attr('name', 'LPO_Details[' + (counter - 1) + '].Price');
            row.find("td:eq(4) input").attr('name', 'LPO_Details[' + (counter - 1) + '].Currency');
            row.find("td:eq(5) input").attr('name', 'LPO_Details[' + (counter - 1) + '].Total');
            row.find("td:eq(6) input").attr('name', 'LPO_Details[' + (counter - 1) + '].Conversion_Unit');


            row.appendTo('#Table1edit');
            return false;


        });



    });

    function removeItem(row) {



        row.closest('tr').remove();

        GrandTotal();

        }





        function GetItemByVendor(vendor) {

            var procemessage = "<option value='0'> Please wait...</option>";
            $("#selectItem").html(procemessage).show();


            if (vendor != 0) {
                $(".common").prop("disabled", false);
            } else
            {
                $(".common").prop("disabled", true);

            }

            var url = '@Url.Action("GetItemListByVendorId", "Purchases")';

            $.ajax({
                url: url,
                data: { vendorid: vendor },
                cache: false,
                type: "POST",
                success: function (data) {
                    var markup = "<option value='0'>Select </option>";
                    for (var x = 0; x < data.length; x++) {
                        markup += "<option value=" + data[x].Value + ">" + data[x].Text + "</option>";
                    }
                    $('.common').html(markup).show();
                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }

    function GetPrice(_itemId, element) {
            debugger
            var url = '@Url.Action("GetItemDetails", "Purchases")';
            var vid = $("#ddlstate").val();
            var theElement = element;
            $.ajax({
                url: url,
                data: { vendorid: vid, itemid: _itemId },
                cache: false,
                type: "POST",
                success: function (data) {

                  

                    var row = $(theElement).closest('tr').attr('id');


                    //if (data.Vendor_Name == "Cash TZ" || data.Vendor_Name == "Cash USD") {

                    //    $('#' + row).find('td:eq(3) input').prop("readonly", false);

                    //} else {

                    //}

                    $('#' + row).find('td:eq(3) input').prop("readonly", false);

                    $('#' + row).find('td:eq(3) input').val(data.price);

                    $('#' + row).find('td:eq(2) input').val(data.Unit_Of_Measure);

                    $('#' + row).find('td:eq(4) input').val(data.currency);

                if (data.Part_Number == undefined) {
                        data.Part_Number = "";
                    }

                    $('#' + row).find('td:eq(6) input').val(data.Item_Name + " " + data.Part_Number);

                },
                error: function (reponse) {
                    alert("error : " + reponse);
                }
            });

        }


             function GetTotal(value, element)
             {

                 debugger

                 var theValue = value;
            var theElement = element;

            var row = $(theElement).closest('tr').attr('id');

            var amount = $('#' + row).find('td:eq(3) input').val();

            if (amount != '' || amount != null)
            {
                var total = (theValue * amount).toFixed(2);

                $('#' + row).find('td:eq(5) input').val(total).trigger('change');;

            }




        }

        function GetTotalNewPrice(value, element) {

            var theValue = Number(value);
            var theElement = element;

            var row = $(theElement).closest('tr').attr('id');

            var quant = Number($('#' + row).find('td:eq(1) input').val());

            if ($.isNumeric(quant) && $.isNumeric(theValue)) {
                var total = (theValue * quant).toFixed(2);

                $('#' + row).find('td:eq(5) input').val(total).trigger('change');;

            } else {

                $('#' + row).find('td:eq(3) input').val('')
            }



        }


        function GrandTotal() {

            var sumtz = 0;
            var sumusd = 0;

            debugger

            // iterate through each td based on class and add the values
            $(".totalrow").each(function () {

                var row = $(this).closest('tr').attr('id');


                 var a = $('#' + row).find('td:eq(4) input').val();

                if (a == 'TZS') {

                    var value = $(this).val();
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        sumtz += parseFloat(value);
                    }

                }
                else if (a == 'USD')
                {
                    var value = $(this).val();
                    // add only if the value is number
                    if (!isNaN(value) && value.length != 0) {
                        sumusd += parseFloat(value);
                    }
                }

            });




            $('#totaltzid').val(sumtz);

            $('#totalusdid').val(sumusd);






        }





</script>








@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    @* @Scripts.Render("~/bundles/jqueryval")*@
}


