﻿


    <div class="row simple">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("LPOIndex", "Purchases")"> <i class="fa fa-clock-o fa-2x"></i>Purchases List</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("GRNIndex", "Purchases")"> <i class="fa fa-clock-o fa-2x"></i>Goods Received Note List</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Create_Purchase_Order", "Purchases")"> <i class="fa fa-clock-o fa-2x"></i>Create Purchase Order</a>
            </div>
        </div>
    </div>
