﻿﻿@model PagedList.IPagedList<TruckManagementSystem.Models.LPO_Header>
@using PagedList.Mvc;
@using System.Globalization;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<h2>
    Local Purchase Orders
</h2>

<p>
    @Html.ActionLink("Create New", "Create_Purchase_Order")
</p>


<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="row" style="overflow:auto">
                <table class="table" id="vendortable">
                    <thead>
                        <tr>

                            <th>LPO No.</th>
                            <th>Job Card No.</th>
                            <th> Created Date</th>
                            <th>Created By</th>
                            <th>Vendor</th>
                            <th>Total</th>
                            <th>View</th>
                            <th>Delete</th>

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.LPO_Number)</td>
                            <td> @Html.DisplayFor(modelItem => item.Job_Number_String)</td>
                            <td> @Html.DisplayFor(modelItem => item.CreatedAt)</td>
                            <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                            <td> @Html.DisplayFor(modelItem => item.Vendor_Name)</td>
                            <td> @Html.DisplayFor(modelItem => item.Order_Total)</td>


                            <td>
                                <button type="button" onclick="location.href='@Url.Action("Edit_Purchase_Order", "Purchases", new { idparam = item.Id})'" class="btn fa fa-eye fa-2x" style="color:#1b84e7"></button>
                            </td>


                     



                            <td></td>
                        </tr>



                        }

                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

</div>



<script>




    function editLPO(obj, value) {

        

            var idparam = value;

              @*$.ajax({
            type: 'GET',
            url: '@Url.Content("~/Purchases/Edit_Purchase_Order")',
            data: { "idparam":  idparam},

                  success: function (result) {

                      window.location = result.getResponseHeader('Location');
             
            }
        });*@





</script>
