﻿
@{
    ViewBag.Title = "StoreReconciliationCreate";
}

@using System.Globalization;

<h2>Store Reconciliation Create</h2>

@section Scripts
{
    <script src="@Url.Content("~/Scripts/bootstrap-datepicker.js")"></script>
}

@Styles.Render("~/Content/bootstrap-datepicker.min.css")




<div class=" row" style="margin-bottom:5px">
    <div class="col-md-8">

        <table class="table table-striped">
            <tr>
                <td>
                    @*<span style="float:left;margin-left: 32px; ">Search Item:</span>*@





                    <input type="hidden" name="Item_Id" id="getItem_Id" readonly />

                    <input type="hidden" name="Location_Id" id="getLocation" readonly />

                    <input type="hidden" name="StockID" id="getStockID" readonly />
                    <input type="hidden" name="Currency" id="getCurrency" readonly />
                    <input type="hidden" name="BuyPrice" id="getBuyPrice" readonly />

                    <strong>Search Item</strong>

                    <input type="text" id="livesearch" value="" class="customsearch form-control input-sm" />
                </td>

                <td>
                    <input type="hidden" tabindex="1" name="Qty" id="getQty" class="form-control customqty input-sm NumbersOnly" value="1" />
                </td>
                <td>
                    <strong>Price TSH</strong>
                    <input type="text" name="Rate" id="getRate" readonly class="form-control  customprice input-sm " />
                    <input type="hidden" name="UOM" id="getUOM" readonly class="form-control  customuom input-sm " />
                </td>
                <td>
                    <input type="hidden" id="getAmount" readonly class="form-control customamount input-sm" />
                </td>



                <td>
                    <input type="button" tabindex="2" value="Add" id="btnAdd" style="margin-top: 19px;" class="btn btn-primary custombtn btn-sm" />

                </td>
            </tr>
        </table>

    </div>



</div>



@using (Html.BeginForm("StoreReconciliationCreate", "Purchases", FormMethod.Post, new { id = "reconcileform" }))
{

    @Html.AntiForgeryToken()


    <div class="col-md-3" style="float: right;padding-bottom:10px">
        Date:
        <div class="input-group date">
            @Html.TextBox("Date", DateTime.Now.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture), new { @class = "form-control datepicker", @id = "dateselection", @placeholder = "Pick reconcilliation date" })
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>


    </div>




    <div class="col-md-12">
        <div class="box box-body box-danger">

            <table id="Table1" class="table table-bordered">
                <tbody>
                    <tr style="background-color:#3d566e; color:#ecf0f1">

                        <th>Item Name</th>
                        <th style="width:113px;">Qty</th>
                        <th style="width:113px;">Current Stock Qty</th>
                        <th>Price Tsh</th>
                        <th>Total</th>
                        <th> Remarks</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td></td>

                    </tr>
                </tbody>

                <tbody id="tblAppendHere"></tbody>


                <tbody style="border-top:none">



                    <tr>

                        <td></td>

                        <td></td>
                        <td></td>

                        <td></td>

                        <td style=" float:right; padding-top:16px"><b>Total TZS</b></td>
                        <td id="totalusd"><input type="text" id="totalusdid" style="float:  right; background-color:white   " class="form-control" readonly /></td>
                        <td></td>



                    </tr>

                    @* <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input id="addBtn" type="button" value="Add Row" style="float:  right;margin-right: 100px;" class="btn btn-danger" /></td>




                        </tr>*@

                </tbody>




            </table>

        </div>
    </div>


    <div class="row">

        <button type="submit" class="btn btn-primary" style="float:  right;margin-right: 100px;">Send For Approval</button>

    
        @*@Ajax.ActionLink("Save To Draft", "OrderSheetCreate", new { status = "0" }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-danger", @style = "float:  right;margin-right: 20px;", @id = "draft" })*@

    </div>
}

<script>

    function removeItem(row) {



        row.closest('tr').remove();

        GrandTotal();

    }



    $(document).ready(function () {

        var minDate = $('#lastdate').val();

        $(function () {




            $('#dateselection').datepicker({ startDate: minDate });                                    ///datepicker({ startDate: 0 });

        });




        $("#livesearch").autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetStock", "Purchases")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { search: request.term },

                    success: function (data) {
                        //  var a = $.parseJSON(data);


                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetStockDetails", "Purchases"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;
                        $("#getItem_Id").val(item.Item_Id);
                        $("#livesearch").val(item.Item_Name);
                        $("#getRate").val(item.Buy_Price);
                        $("#getUOM").val(item.Qty_Bal)
                        $("#getBuyPrice").val(item.Buy_Price)
                        $("#getCurrency").val(item.Currency_Name)
                        $("#getAvailability").val(item.Qty_Bal);
                        $("#getStockID").val(item.Stock_Id);
                        $("#getLocation").val(item.Location_Id);


                    },
                    error: function (request, ajaxOptions, thrownError) {
                        alert('Failed to retrieve Item.');
                    }
                });
            }


        });

    });



    $('#btnAdd').on('click', function () {
        //Validation : Check if salesID and Qty is null
        if ($('#getQty').val() == '' || $('#getStockID').val() == '' || $('#getQty').val() == 0 || !$.isNumeric($('#getQty').val())) {
            alert("Oops...", 'Looks like you forgot to enter quantity.', "error");
            //alert();
        }
        else {
            //check for duplication
            if (CheckStockDuplication($('#getStockID').val())) {
                alert("Redundant Record", 'This Stock has already been added. If you want to re-enter, please remove it form the list first!', "error");









                update_total();

                 $(function () {
                    $clear = '';
                    $('#getStockID').val('');
                    $('#getItem_Id').val('');
                    $('#livesearch').val('');
                    $('#getQty').val('1');
                    $('#getRate').val('');
                    $('#getCurrency').val('');
                    $('#getBuyPrice').val('')
                    $('#getAvailability').val('');
                    $('#getAmount').val('');
                    $("#getLocation").val('');
                    $("#getMealType").val('NONE');


                });



            }
            else if (CheckBarOrKitchen($('#getLocation').val())) {

                alert("Redundant Record You cannot mix bar and kitchen items");
            }
            else {
                var $table = $('#tblAppendHere');


                var currentrowid = parseInt($('#tblAppendHere tr:last').attr('id'));

                if (!currentrowid) {

                    currentrowid = 1;
                } else {

                    currentrowid++;
                }

                $table.append(
                    '<tr class="dynamicRows" id ="' + currentrowid + '" > ' +
                    //gets sales ID for name , value (for form collection) but shows stock id in the list (for UX purpose)
                    '<td style="display:none;">' + $('#getStockID').val() + '</td>' +
                    '<td  style="display:none;"><input type="hidden" class="txtStockID" name="Line_Item[' + (currentrowid - 1) + '].StockID"  value= "' + $('#getStockID').val() + '"/>' + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="Line_Item[' + (currentrowid - 1) + '].Item_Id"     value="' + $('#getItem_Id').val() + '"/>' + $('#getItem_Id').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" class="txtLocation" name="Location_Id"     value="' + $('#getLocation').val() + '"/>' + $('#getLocation').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="Currency"     value="' + $('#getCurrency').val() + '"/>' + $('#getCurrency').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="ExpiryDate"     value="' + $('#getExpiryDate').val() + '"/>' + $('#getExpiryDate').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="BuyPrice"     value="' + $('#getBuyPrice').val() + '"/>' + $('#getBuyPrice').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="ReferenceNo"     value="' + $('#getReferenceNo').val() + '"/>' + $('#getReferenceNo').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="Barcode"     value="' + $('#getBarcode').val() + '"/>' + $('#getBarcode').val() + '</td>' +
                    '<td style="display:none;"><input type="hidden" name="mealtypeselect"     value="' + $('#getMealType').val() + '"/>' + $('#getMealType').val() + '</td>' +
                    '<td><input type="hidden" name="Line_Item[' + (currentrowid - 1) + '].Item_name"     value="' + $('#livesearch').val() + '"/>' + $('#livesearch').val() + '</td>' +
                    '<td><input type="text" name="Line_Item[' + (currentrowid - 1) + '].Used_Quantity"  class="txtqty form-control" onkeyup = "javascript:GetTotal(this.value, this);"  value=""  />  </td>' +
                    '<td><input type="hidden" name="Line_Item[' + (currentrowid - 1) + '].Initial_Quantity" value= "' + $('#getUOM').val() + '"/>' + $('#getUOM').val() + '</td>' +
                    '<td><input type="hidden" name="Line_Item[' + (currentrowid - 1) + '].Buy_Price"    value= "' + $('#getRate').val() + '"/>' + $('#getRate').val() + '</td>' +
                    '<td><input readonly type="text" name="Line_Item[' + (currentrowid - 1) + '].Amount" txtamount value="' + $('#getAmount').val() + '" onchange="GrandTotal()"  class="subAmt form-control"/>' + $('#getAmount').val() + '</td>' +
                    '<td><input  type="text" name="Line_Item[' + (currentrowid - 1) + '].Remarks" value=""  class=" form-control"/> </td>' +
                    //remove icon
                    '<td><a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a></td>'
                    + '</tr>'
                );

                //cleans form
                $(function () {
                    $clear = '';
                    $('#getStockID').val('');
                    $('#getItem_Id').val('');
                    $('#livesearch').val('');
                    $('#getQty').val('1');
                    $('#getRate').val('');
                    $('#getCurrency').val('');
                    $('#getBuyPrice').val('')
                    $('#getAvailability').val('');
                    $('#getAmount').val('');
                    $("#getLocation").val('');
                    $("#getMealType").val('NONE');


                });

                //calculate sub total
                update_total();
                return false;
            }
        }
    });

    //check if stock ID already exists in the list
    function CheckStockDuplication(stockid) {
        var flag = false;


        $('.dynamicRows').each(function () {
            if ($(this).find('.txtStockID').val() == stockid) {

                flag = true;
            }
        });
        return flag;
    };

    function CheckBarOrKitchen(locationid) {

        var flag = false;
        $('.dynamicRows').each(function () {
            if ($(this).find('.txtLocation').val()
                != locationid) {
                flag = true;
            }
        });
        return flag;
    };

    //calculate sub total amount
    function update_total() {
        var rows = $('.dynamicRows');
        var total = Number();

        $.each(rows, function (index, item) {
            total += Number($(this).children('td').eq(13).text());
        });
        $('.setTotal').val(total.toFixed(2));
        $('.setTotalText').text(total.toFixed(2));
        };


        function GetTotal(value, element) {


            debugger
            var theValue = Number( value);
            var theElement = element;
             var row = $(theElement).closest('tr');

            var limit = Number(row.find('td:eq(12) input').val());

            if (theValue > limit) {

                alert("You can not reduce more than what is in stock!!");

                theValue = limit;
                   var amount = row.find('td:eq(13) input').val();

            if (amount != '' || amount != null) {
                var total = (theValue * amount).toFixed(2);

                 row.find('td:eq(14) input').val(total).trigger('change');
            }


                row.find('td:eq(11) input').val(limit);

                return;
            }

           

            var amount = row.find('td:eq(13) input').val();

            if (amount != '' || amount != null) {
                var total = (theValue * amount).toFixed(2);

                 row.find('td:eq(14) input').val(total).trigger('change');
            }




        }

     $("#draft").click(function (e) {

            e.preventDefault();


            //var formData = $($('#form1')[0].elements).not('[value=""], [value="0"]').serialize();
            //var formData = $('#form1').serialize();

            //formData = formData.find('input, select').not('[value=""], [value="0"]').serialize();

         var formData = $("#barform :input")
                .filter(function (index, element) {
                    return $(element).val() != "" && $(element).val() != 0;
                }).serialize();

            $.ajax({
                type: "POST",
                url: '@Url.Action("BarReconcilliationCreate", "Sales", new { status = "0" })',
                data: formData,


                success: function (response) {
                    if (response.response == true) {
                        window.location.href = '@Url.Action("BarSettlementIndex","Sales")';
                    }

                },

                error: function (response) {
                    alert(response.statusText);
                }

            });


    });


        $("#approve").click(function (e) {

            e.preventDefault();


            //var formData = $($('#form1')[0].elements).not('[value=""], [value="0"]').serialize();
            //var formData = $('#form1').serialize();

            //formData = formData.find('input, select').not('[value=""], [value="0"]').serialize();

         var formData = $("#barform :input")
                .filter(function (index, element) {
                    return $(element).val() != "" && $(element).val() != 0;
                }).serialize();

            $.ajax({
                type: "POST",
                url: '@Url.Action("BarReconcilliationCreate", "Sales", new { status = "2" })',
                data: formData,


                success: function (response) {
                    if (response.response == true) {
                        window.location.href = '@Url.Action("BarSettlementIndex","Sales")';
                    }

                },

                error: function (response) {
                    alert(response.statusText);
                }

            });


    });



       $('#reconcileform').on('submit', function(e) {
    // check validation


             var boolvalue = true;
          

             if (boolvalue == true) {
                 $('#reconcileform').get(0).submit();
             }

         });

          

    function GrandTotal() {

        var sum = 0;


        // iterate through each td based on class and add the values
        $(".subAmt").each(function () {




            var value = $(this).val();
                // add only if the value is number
                if (!isNaN(value) && value.length != 0) {
                    sum += parseFloat(value);
                }

        });

        $('#totalusdid').val(sum);






    }




</script>


