﻿@model  TruckManagementSystem.ViewModels.ReconciliationViewModel
@{
    ViewBag.Title = "StoreReconciliationEdit";
}

@using System.Globalization;

@using TruckManagementSystem.Helpers;


<h2>Store Reconciliation Edit</h2>







@using (Html.BeginForm("StoreReconciliationEdit", "Purchases", FormMethod.Post, new { id = "reconcileform" }))
{

    @Html.AntiForgeryToken()


    <div class="col-md-3" style="float: right;padding-bottom:10px">
        Date:
        <div class="input-group date">
            @Html.TextBox("Date", DateTime.Now.Date.ToString("dd/MM/yyyy", CultureInfo.InvariantCulture), new { @class = "form-control datepicker", @id = "dateselection", @placeholder = "Pick reconcilliation date" })
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>


    </div>


    @Html.Hidden("Id", Model.Id)

    <div class="col-md-12">
        <div class="box box-body box-danger">

            <table id="Table1" class="table table-bordered">
                <tbody>
                    <tr style="background-color:#3d566e; color:#ecf0f1">

                        <th>Item Name</th>
                        <th style="width:113px;">Qty</th>
                        <th style="width:113px;">Current Stock Qty</th>
                        <th>Price Tsh</th>
                        <th>Total</th>
                        <th> Remarks</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>

                        <td></td>
                        <td></td>

                    </tr>
                </tbody>

                <tbody id="tblAppendHere">

                    @foreach (var item in Model.Line_item)
                    {


                        <tr id="@( item.Id)">


                            <td style="display:none;">
                                @Html.Hidden("StockID", item.StockID)
                            </td>
                            <td style="display:none;"></td>
                            <td style="display:none;"></td>

                            <td style="display:none;">
                                @Html.Hidden("Item_Id", item.Item_Id)
                            </td>
                            <td style="display:none;">
                                @Html.Hidden("Currency", item.Currency)
                            </td>
                            <td style="display:none;">
                                @Html.Hidden("Rate", item.Sell_Price)
                                @Html.Hidden("UoM", item.UoM)
                            </td>
                            <td style="display:none;"></td>
                            <td style="display:none;"></td>
                            <td style="display:none;"></td>
                            <td style="display:none;"></td>
                            <td>
                                @Html.TextBox("Item_name", item.Item_name, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })

                            </td>



                            <td>
                                @Html.TextBox("Qty", item.Used_Quantity, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })

                            </td>

                            <td>
                                @Html.TextBox("Initial_Quantity", item.Initial_Quantity, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                            </td>

                            <td>
                                @Html.TextBox("BuyPrice", item.Buy_Price, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })

                            </td>
                            <td>
                                @Html.TextBox("Amount", item.Amount, htmlAttributes: new { @class = "form-control subAmt", @readonly = "readonly", @onchange = "javascript:GrandTotal();" })

                            </td>




                            <td>
                                @Html.TextBox("Remarks", item.Remarks, htmlAttributes: new { @class = "form-control remarkclass", @readonly = "readonly" })
                            </td>





                        </tr>





                    }


                </tbody>


                <tbody style="border-top:none">



                    <tr>

                        <td></td>

                        <td></td>
                        <td></td>

                        <td></td>

                        <td style=" float:right; padding-top:16px"><b>Total TZS</b></td>
                        <td id="totalusd"><input type="text" id="totalusdid" style="float:  right; background-color:white   " class="form-control" readonly value="@Model.Line_item.Sum(x => x.Amount)" /></td>
                        <td></td>



                    </tr>

                    @* <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input id="addBtn" type="button" value="Add Row" style="float:  right;margin-right: 100px;" class="btn btn-danger" /></td>




                        </tr>*@

                </tbody>




            </table>

        </div>
    </div>


    <div class="row">

        @if (Model.Status_Int == Values.STATUS_PENDING)
        {
        <button type="submit" class="btn btn-primary ml-auto" style="float:  right;margin-right: 100px;">Approve</button>
        }

        @*@Ajax.ActionLink("Save To Draft", "OrderSheetCreate", new { status = "0" }, new AjaxOptions { HttpMethod = "POST" }, new { @class = "btn btn-danger", @style = "float:  right;margin-right: 20px;", @id = "draft" })*@

    </div>
}