﻿@model IEnumerable<TruckManagementSystem.Models.Reconciliation_Header>
@{
    ViewBag.Title = "List of Main Store Reconciliations";
}

<p>
    @Html.ActionLink("Create", "StoreReconciliationCreate")
</p>

<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="row" style="overflow:auto">
                <table class="table" id="vendortable">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Settlement_Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Created_Date)
                            </th>
                            <th hidden>
                                @Html.DisplayNameFor(model => model.Location_Id)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Settlement_Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created_Date)
                                </td>
                                <td hidden>
                                    @Html.DisplayFor(modelItem => item.Location_Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status_String)
                                </td>
                                <td>
                                    @Html.ActionLink("View", "StoreReconciliationEdit", new { id = item.Id }) |
                                </td>
                            </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
        </div>
    </div>
