﻿
@model  TruckManagementSystem.ViewModels.PaymentViewModel



@using (Html.BeginForm("CreateTransitReturnVoucher", "TripSheet", FormMethod.Post,
                 new { id = "departuredetailsform", enctype = "multipart/form-data" }))
{



    <style>
        .modal-body {
            font-size: 12px;
        }

        .table thead > tr > th {
            font-size: 11px;
        }

        .table td {
            padding: 0.3em;
        }


        .form-control, .dataTables_filter input {
            font-size: 12px;
        }
    </style>
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center">Create Transit Return Voucher</h4>


            <button type="button" class="close" data-dismiss="modal">&times;</button>


        </div>



        @Html.HiddenFor(model => model.Trip_List_detail_Id)
        <div class="modal-body">





            <div class="row">
                <div class="col-md-6 mr-auto" style="margin-bottom:20px">
                    <div class="row">
                        <label class="col-sm-3" style="padding-top:8px">
                            <strong>Order No:</strong>
                        </label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Order_no, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Payment_Number, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <table class="table  table-striped " id="Table1create">
                    <thead>
                        <tr>
                            <th style="width:350px">Item Name</th>
                            <th>quantity</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>

                        @Html.HiddenFor(model => model.Currency)
                        @Html.HiddenFor(model => model.Order_Total)

                        @for (int i = 0; i < (Model.Payment_Line_Item.Count); i++)
                        {

                            @Html.HiddenFor(model => model.Payment_Line_Item[i].Unit)

                            @Html.HiddenFor(model => model.Payment_Line_Item[i].Currency)
                            <tr>
                                <td>  @Html.EditorFor(model => model.Payment_Line_Item[i].Item_Name, new { htmlAttributes = new { @class = "form-control" } })</td>
                                <td>  @Html.EditorFor(model => model.Payment_Line_Item[i].quantity, new { htmlAttributes = new { @class = "form-control", @type = "number" } })</td>
                                <td>  @Html.EditorFor(model => model.Payment_Line_Item[i].Price, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01" } })</td>
                                <td>  @Html.EditorFor(model => model.Payment_Line_Item[i].Total, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @step = "0.01" } })</td>

                            </tr>


                        }

                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>@Html.Raw(Model.Order_Total)</td>

                        </tr>


                    </tbody>
                </table>




            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="savenewdeparturedetails">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>


        </div>


    </div>



}
<table class="sample" style="display:none">

    <tr>
        <td>
        </td>
        <td>

            @Html.TextBox("Fleet_No", null, new { @class = "form-control input-sm", @placeholder = "" })



        </td>
        <td>


            @Html.TextBox("Truck_No", null, new { @class = "form-control" })

        </td>

        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })

        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })

        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })

        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })

        </td>
        <td>

            <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
        </td>


    </tr>

</table>

<script>


    $(document).ready(function () {




        $("#Table1create").on("click", "#addBtncreate", function () {



            var currentrowid = parseInt($('#Table1create tr:last').prev().attr('id'));


            //     $("#Table1create .qtyselected").each(function () {

            //         $(this).prop('readonly', true);


            //});


            currentrowid++;

            var row = jQuery('.sample tr').clone(true);

            row.find("input:text").val("");

            //row.find("td:eq(0) .stockidclass").attr('name', 'Line_Item[' + (currentrowid - 1) + '].');
            // row.find("td:eq(0) .stockidclass").attr('id', 'Line_Item_' + (currentrowid - 1) +'__Stock_Id');

            row.find("td:eq(1) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Fleet_No');
            row.find("td:eq(2) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Truck_No');
            row.find("td:eq(3) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Truck_Trailer');
            row.find("td:eq(3) input").attr('id', 'lineid' + (currentrowid - 1));
            row.find("td:eq(4) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Driver_Name');

            row.find("td:eq(5) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Licence_No');

            row.find("td:eq(6) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Mobile_No');


            row.find("td:eq(7) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Product');


            row.find("td:eq(8) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Requested_Qty');


            row.find("td:eq(9) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Loading_Point');



            row.find("td:eq(10) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Destination');



            row.attr('id', currentrowid);
            //  row.find("td:eq(0)").text(currentrowid)

            $('#Table1create tr:last').before(row)
            //   row.appendTo('#Table1');
            return false;


        });



    });





</script>

