﻿@model IEnumerable<TruckManagementSystem.Models.Trip_Details>


@using PagedList.Mvc;


<style>

    .table thead > tr > th {
        font-size: 10px;
    }

    .table td {
        padding: 0.3em;
    }


    .form-control, .dataTables_filter input {
        font-size: 12px;
    }
</style>


<h3>Delivery Info</h3>
<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="table-responsive">
                <table class="table mg-b-0">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>D/N No</th>
                            <th>Compartment 1</th>
                            <th>Compartment 2</th>
                            <th>Compartment 3</th>
                            <th>Compartment 4</th>
                            <th>Compartment 5</th>
                            <th>Compartment 6</th>
                            @*<th>Delete</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.Order_No)</td>
                                <td> @Html.DisplayFor(modelItem => item.Delivery_No)</td>
                                <td> @Html.DisplayFor(modelItem => item.Compartment_1)</td>
                                <td> @Html.DisplayFor(modelItem => item.Compartment_2)</td>
                                <td> @Html.DisplayFor(modelItem => item.Compartment_3)</td>
                                <td> @Html.DisplayFor(modelItem => item.Compartment_4)</td>
                                <td> @Html.DisplayFor(modelItem => item.Compartment_5)</td>
                                <td> @Html.DisplayFor(modelItem => item.Compartment_6)</td>








                                @*<td></td>*@
                            </tr>



                        }


                    </tbody>





                </table>
            </div>

        </div>
    </div>

    <div id="myPage">
        @*@Html.PagedListPager(
            Model,
            page => Url.Action(
                "Index",
                    new
                    {
                        page,
                        currentFilter = ViewBag.CurrentFilter
                    }),
                new PagedListRenderOptions
                {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "prev",
                    LinkToNextPageFormat = "next",
                    LinkToLastPageFormat = ">>",
                }
            )*@



    </div>
</div>

