﻿
@model  TruckManagementSystem.ViewModels.IssueNoteViewModel


@using TruckManagementSystem.Helpers;





@using (Html.BeginForm("EditTripFuelVoucher", "TripSheet", FormMethod.Post,
                 new { id = "departuredetailsform", enctype = "multipart/form-data" }))
{



    <style>

        .modal-body {
            font-size: 12px;
        }

        .table thead > tr > th {
            font-size: 11px;
        }

        .table td {
            padding: 0.3em;
        }


        .form-control, .dataTables_filter input {
            font-size: 12px;
        }
    </style>
    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center">Edit Fuel Voucher</h4>


            <button type="button" class="close" data-dismiss="modal">&times;</button>


        </div>



        @Html.HiddenFor(model => model.Trip_List_detail_Id)
        @Html.HiddenFor(model => model.JOBNumber)
        @Html.HiddenFor(model => model.Id)
        <div class="modal-body">





            <div class="row">
                <div class="col-md-6 mr-auto" style="margin-bottom:20px">
                    <div class="row">
                        <label class="col-sm-3" style="padding-top:8px">
                            <strong>Order No:</strong>
                        </label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Order_No, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            @Html.ValidationMessageFor(model => model.Order_No, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <table class="table  table-striped " id="Table1create">
                    <thead>
                        <tr>
                            <th style="width:350px">Item Name</th>

                            <th>quantity</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>


                        @Html.HiddenFor(model => model.Order_Total)

                        @for (int i = 0; i < (Model.IssueNote_Line_Item.Count); i++)
                        {




                            @Html.HiddenFor(model => model.IssueNote_Line_Item[i].Stock_Id, new { @class = "stockidclass" })


                            <tr>



                                <td>
                                    @Html.EditorFor(model => model.IssueNote_Line_Item[i].Item_Name, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @onclick = "javascript:CheckStock(this, this.id)", @id = "lineid" + i } })
                                </td>
                                <td>  @Html.EditorFor(model => model.IssueNote_Line_Item[i].quantity, new { htmlAttributes = new { @class = "form-control", @id = "lineidqtyrequested" + i, @onkeyup = "javascript:CheckQty(this, this.id)", @type = "number", @min = "0", @step = "0.01" } })</td>
                                <td>  @Html.EditorFor(model => model.IssueNote_Line_Item[i].Unit, new { htmlAttributes = new { @class = "form-control", @id = "lineidunit" + i } })</td>

                                <td>  @Html.EditorFor(model => model.IssueNote_Line_Item[i].Price, new { htmlAttributes = new { @class = "form-control", @id = "lineidprice" + i, @type = "number", @min = "0", @step = "0.01" } })</td>
                                <td>  @Html.EditorFor(model => model.IssueNote_Line_Item[i].Total, new { htmlAttributes = new { @class = "form-control", @id = "lineidtotal" + i, @type = "number", @min = "0", @step = "0.01" } })</td>

                            </tr>


                        }




                    </tbody>
                </table>




            </div>


            <div class="modal-footer">


                @if ((User.IsInRole(Values.ADMIN_ROLE)))
                {

                    if (Model.Status == Values.STATUS_PENDING)
                    {

                        <button type="submit" class="btn btn-success">Approve</button>

                    }

                }

                @*<button type="submit" class="btn btn-primary" id="savenewdeparturedetails">Create</button>*@
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>


        </div>


    </div>



}
<table class="sample" style="display:none">

    <tr>
        <td>
        </td>
        <td>

            @Html.TextBox("Fleet_No", null, new { @class = "form-control input-sm", @placeholder = "" })



        </td>
        <td>


            @Html.TextBox("Truck_No", null, new { @class = "form-control" })

        </td>

        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })

        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control" })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })

        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })
        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })

        </td>
        <td>
            @Html.TextBox("Truck_No", null, new { @class = "form-control", })

        </td>
        <td>

            <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
        </td>


    </tr>

</table>

<script>


    $(document).ready(function () {




        $("#Table1create").on("click", "#addBtncreate", function () {



            var currentrowid = parseInt($('#Table1create tr:last').prev().attr('id'));


            //     $("#Table1create .qtyselected").each(function () {

            //         $(this).prop('readonly', true);


            //});


            currentrowid++;

            var row = jQuery('.sample tr').clone(true);

            row.find("input:text").val("");

            //row.find("td:eq(0) .stockidclass").attr('name', 'Line_Item[' + (currentrowid - 1) + '].');
            // row.find("td:eq(0) .stockidclass").attr('id', 'Line_Item_' + (currentrowid - 1) +'__Stock_Id');

            row.find("td:eq(1) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Fleet_No');
            row.find("td:eq(2) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Truck_No');
            row.find("td:eq(3) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Truck_Trailer');
            row.find("td:eq(3) input").attr('id', 'lineid' + (currentrowid - 1));
            row.find("td:eq(4) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Driver_Name');

            row.find("td:eq(5) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Licence_No');

            row.find("td:eq(6) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Mobile_No');


            row.find("td:eq(7) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Product');


            row.find("td:eq(8) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Requested_Qty');


            row.find("td:eq(9) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Loading_Point');



            row.find("td:eq(10) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Destination');



            row.attr('id', currentrowid);
            //  row.find("td:eq(0)").text(currentrowid)

            $('#Table1create tr:last').before(row)
            //   row.appendTo('#Table1');
            return false;


        });



    });


       function CheckStock(object, id) {



        var suffix = id.match(/\d+/)

        $("#" + id).autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetStock", "TripSheet")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { search: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);


                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetStockDetails", "TripSheet"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;

                        $("#lineid" + suffix).val(item.Item_Name);

                        $("#lineidstockqty" + suffix).val(item.Qty_Bal);

                        $("#lineidprice" + suffix).val(item.Buy_Price);

                        $("#lineidunit" + suffix).val(item.Unit);

                            $("#IssueNote_Line_Item_" + suffix + "__Stock_Id").val(item.Stock_Id);



                    },
                    error: function (request, ajaxOptions, thrownError) {
                        sweetAlert('Failed to retrieve Item.');
                    }
                });
            }


        });






    }





  function CheckQty(object, id) {

        debugger
        var intid = id.match(/\d+/);

          var stockid = $("#Line_Item_" + intid + "__Stock_Id").val();

        var price = Number($('#lineidprice' + intid).val());

        var requested = Number($('#lineidqtyrequested' + intid).val());

      var total = Number(price * requested).toFixed(2);

      $('#lineidtotal' + intid).val(total);
        //var quantity = Number($('#getQty').val());
        //var rate = Number($('#getRate').val());
        //if (quantity > available) {
        //    $('#getQty').val(available);
        //    quantity = available;
        //}



    }








</script>

<style>
    .ui-autocomplete {
        position: absolute;
        cursor: default;
        z-index: 5000 !important
    }


    .toggle.ios, .toggle-on.ios, .toggle-off.ios {
        border-radius: 20px;
    }

        .toggle.ios .toggle-handle {
            border-radius: 20px;
        }

    .table td {
        padding-right: 4px;
        padding-left: 4px;
    }

    .modal-backdrop-orange {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.6;
        width: 100%;
        height: 100%;
        z-index: 1033;
    }
</style>