﻿@model  TruckManagementSystem.ViewModels.IssueNoteVMListViewModel



<style>

    .table thead > tr > th {
        font-size: 10px;
    }

    .table td {
        padding: 0.3em;
    }


    .form-control, .dataTables_filter input {
        font-size: 12px;
    }
</style>


<h3>Fuel Info</h3>
<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="table-responsive">
                <table class="table mg-b-0">
                    <thead>
                        <tr>
                            <th>Created At</th>
                            <th>Product</th>
                            <th>Qty</th>
                            <th>Unit</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th></th>
                            
                            @*<th>Delete</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.IssueNoteViewModels)
                        {

                            <tr>
                                <td> @Html.DisplayFor(modelItem => item.CreatedAt)</td>
                                <td> @Html.DisplayFor(modelItem => item.Product)</td>
                                <td> @Html.DisplayFor(modelItem => item.Total_Qty)</td>
                                <td> @Html.DisplayFor(modelItem => item.Unit)</td>
                                <td> @Html.DisplayFor(modelItem => item.Price)</td>
                                <td> @Html.DisplayFor(modelItem => item.Order_Total)</td>
                                <td><button class="btn fa fa-pencil fa-2x" value="@item.Id" onclick="javascript: editFuelInfo(this, this.value)" style="color:#1b84e7"></button></td>
                                







                                @*<td></td>*@
                            </tr>



                        }


                    </tbody>





                </table>
            </div>

        </div>
    </div>

    <div id="myPage">
        @*@Html.PagedListPager(
            Model,
            page => Url.Action(
                "Index",
                    new
                    {
                        page,
                        currentFilter = ViewBag.CurrentFilter
                    }),
                new PagedListRenderOptions
                {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "prev",
                    LinkToNextPageFormat = "next",
                    LinkToLastPageFormat = ">>",
                }
            )*@



    </div>
</div>

<script>



    function editFuelInfo(obj, value) {

        var idparam = value;



         $.ajax({
            type: 'GET',
             url: '@Url.Content("~/TripSheet/EditFuelVoucher")',
             data: { id: idparam },
            success: function (result) {

                $('#newDetailsCreate').html(result);

               $('#myModal').modal('show');
            }
        });


    }





</script>

