﻿@model  TruckManagementSystem.ViewModels.TripListViewModel

<style>

    .table thead > tr > th {
        font-size: 10px;
    }

    .table td {
        padding: 0.3em;
    }


    .form-control, .dataTables_filter input {
        font-size: 12px;
    }
</style>

@using (Html.BeginForm("TripListCreateLocal", "TripSheet", FormMethod.Post,
                 new { id = "repairform", enctype = "multipart/form-data" }))
{

    <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title" style="text-align:center">Create Trip List</h4>


            <button type="button" class="close" data-dismiss="modal">&times;</button>


        </div>



        @Html.HiddenFor(model => model.Transit_Type)
        <div class="modal-body">


            <div class="row">
                <table class="table  table-striped " id="Table1create">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th style="width:100px">Fleet No</th>
                            <th>Truck No </th>
                            <th>Trailer No</th>
                            <th style="width:150px">Driver Name</th>
                            <th>Licence No</th>
                            <th>Mobile No</th>
                            <th style="width:80px">Product</th>
                            <th style="width:90px">Requested Qty</th>
                            @*<th>Unit</th>*@
                            <th>Loading Point</th>
                            <th>Destination</th>
                        </tr>
                    </thead>
                    <tbody>

                        @for (int i = 0; i < (Model.TripLineItems.Count); i++)
                        {

                            <tr id="@(i + 1 )">
                                <td>
                                    @(i + 1)
                                </td>
                                <td>

                                    @Html.EditorFor(model => model.TripLineItems[i].Fleet_No, new { htmlAttributes = new { @class = "form-control customsearch input-sm", @id = "triplistcreatefleet" + i,@onkeyup = "javascript:CheckFleet(this, this.id)", @placeholder = "" } })


                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Truck_Head, new { htmlAttributes = new { @class = "form-control input-sm", @id = "triplisttruckhead" + i, @placeholder = "" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Truck_Trailer, new { htmlAttributes = new { @class = "form-control input-sm", @id = "triplisttrucktrailer" +i, @placeholder = "" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Driver_Name, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Licence_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Mobile_No, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                </td>
                                <td>
                                    @Html.DropDownListFor(model => model.TripLineItems[i].Product, new SelectList(ViewBag.Products, "Item_Id", "Item_Name", Model.TripLineItems[i].Product), "Select", new { @class = "form-control input-sm vendorselect", @id = "lineidproduct" + i })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Requested_Qty, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                </td>
                                @*<td>
                                        @Html.EditorFor(model => model.TripLineItems[i].Driver_Name, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                    </td>*@
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Loading_Point, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.TripLineItems[i].Destination, new { htmlAttributes = new { @class = "form-control input-sm", @id = "driverlicencecreate", @placeholder = "" } })
                                </td>

                            </tr>

                        }


                        <tr id="2">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            @*<td></td>*@
                            <td></td>
                            <td>
                                <button id="addBtncreate" style="float:  right;" type="button" class="btn btn-primary">Add Row</button>
                            </td>
                        </tr>
                    </tbody>




                </table>

            </div>


            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="savemaintenance">Create</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>


        </div>


    </div>



}
    <table class="sample" style="display:none">

        <tr>
            <td>
            </td>
            <td>

                @Html.TextBox("Fleet_No", null, new { @class = "form-control input-sm",@onkeyup = "javascript:CheckFleet(this, this.id)",  @placeholder = "" })



            </td>
            <td>


                @Html.TextBox("Truck_No", null, new { @class = "form-control" })

            </td>

            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control" })

            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control" })
            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control", })

            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control", })
            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control", })

            </td>
            <td>
                @Html.TextBox("Truck_No", null, new { @class = "form-control", })

            </td>
            <td>

                <a href="#" class="fa fa-trash fa-2x" onclick="removeItem(this)"></a>
            </td>


        </tr>

    </table>

    <script>


        $(document).ready(function () {

         //   e.preventDefault();


            $("#Table1create").on("click", "#addBtncreate", function () {



                var currentrowid = parseInt($('#Table1create tr:last').prev().attr('id'));


                //     $("#Table1create .qtyselected").each(function () {

                //         $(this).prop('readonly', true);


                //});


                currentrowid++;

                var row = jQuery('.sample tr').clone(true);

                row.find("input:text").val("");

                //row.find("td:eq(0) .stockidclass").attr('name', 'Line_Item[' + (currentrowid - 1) + '].');
                // row.find("td:eq(0) .stockidclass").attr('id', 'Line_Item_' + (currentrowid - 1) +'__Stock_Id');

                row.find("td:eq(1) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Fleet_No');
                 row.find("td:eq(1) input").attr('id', 'triplistcreatefleet' + (currentrowid - 1));
                row.find("td:eq(2) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Truck_No');
                row.find("td:eq(2) input").attr('id', 'triplisttruckhead' + (currentrowid - 1));
                row.find("td:eq(3) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Truck_Trailer');
                  row.find("td:eq(3) input").attr('id', 'triplisttrucktrailer' + (currentrowid - 1));
                row.find("td:eq(3) input").attr('id', 'lineid' + (currentrowid - 1));
                row.find("td:eq(4) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Driver_Name');

                row.find("td:eq(5) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Licence_No');

                row.find("td:eq(6) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Mobile_No');


                row.find("td:eq(7) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Product');


                row.find("td:eq(8) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Requested_Qty');


                row.find("td:eq(9) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Loading_Point');



                row.find("td:eq(10) input").attr('name', 'Line_Item[' + (currentrowid - 1) + '].Destination');



                row.attr('id', currentrowid);
                //  row.find("td:eq(0)").text(currentrowid)

                $('#Table1create tr:last').before(row)
                //   row.appendTo('#Table1');
                return false;


            });



            $("#triplistcreatefleet0").each(function () {

             
                $(this).autocomplete({ src: [] });
            });

          
        });


                  function CheckFleet(obj, val) {

             
                      var idstring = "#" + val;

                       var intid = val.match(/\d+/);

                $(obj).autocomplete({
            source: function (request, response) {

                var url = '@Url.Action("GetFleet", "Maintenance")';


                $.ajax({
                    url: url, type: "GET", dataType: "json", cache: false, contentType: "application/json; charset=utf-8",
                    data: { searchstring: request.term },

                    success: function (data) {
                        // var a = $.parseJSON(data);
                      

                        response($.map(data, function (item) {
                            return { label: item.label, value: item.value }; //updated code
                        }));
                    }
                });

                //response(itemnamecodes);
            },



            select: function (event, ui) {
                event.preventDefault();

                $.ajax({
                    cache: false, async: false, type: "GET",
                    url: "@(Url.Action("GetFleetDetails", "Maintenance"))",
                    data: { "id": ui.item.value },
                    success: function (data) {
                        var item = data;
                        $(idstring).val(item.Fleet_No);

                        $("#triplisttruckhead" + intid).val(item.Truck_Header_Number);
                        $("#triplisttrucktrailer" + intid).val(item.Truck_Trailer_Number);



                    },
                    error: function (request, ajaxOptions, thrownError) {
                        sweetAlert('Failed to retrieve Item.');
                    }
                });
            }


        });







            }
        


           function removeItem(row) {



                row.closest('tr').remove();


    }



    </script>

    <style>

        .ui-autocomplete {
            position: absolute;
            cursor: default;
            z-index: 5000 !important
        }
    </style>