﻿@model IEnumerable<TruckManagementSystem.Models.Payment_Header>


@using PagedList.Mvc;


<style>

    .table thead > tr > th {
        font-size: 10px;
    }

    .table td {
        padding: 0.3em;
    }


    .form-control, .dataTables_filter input {
        font-size: 12px;
    }
</style>


<h3>Loading Info</h3>
<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <div class="table-responsive">
                <table class="table mg-b-0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Username</th>
                             @*<th>Delete</th>*@
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {

                        <tr>
                            <td> @Html.DisplayFor(modelItem => item.CreatedAt)</td>
                            <td> @Html.DisplayFor(modelItem => item.UserName)</td>
                            <td> @Html.DisplayFor(modelItem => item.Order_Total)</td>




                            @*<td></td>*@
                        </tr>



                        }


                    </tbody>





                </table>
            </div>

        </div>
    </div>

    <div id="myPage">
        @*@Html.PagedListPager(
            Model,
            page => Url.Action(
                "Index",
                    new
                    {
                        page,
                        currentFilter = ViewBag.CurrentFilter
                    }),
                new PagedListRenderOptions
                {
                    LinkToFirstPageFormat = "<<",
                    LinkToPreviousPageFormat = "prev",
                    LinkToNextPageFormat = "next",
                    LinkToLastPageFormat = ">>",
                }
            )*@



    </div>
</div>
