﻿@model IEnumerable<TruckManagementSystem.Models.Trip_List_Header>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row simple">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list-group">
            <a class="list-group-item" href="@Url.Action("TripListIndex", "TripSheet")"> <i class="fa fa-clock-o fa-2x"></i>Loading List</a>
        </div>
    </div>


    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="list-group">
            <a class="list-group-item" href="@Url.Action("TripListCreate", "TripSheet")" id="createtriplist"> <i class="fa fa-hdd-o fa-2x"></i>Create Loading List</a>
        </div>
    </div>
</div>


<div id='myModal' class='modal hide fade in'>
    <div class="modal-dialog  modal-lg" id="tripcreate" style="min-width:1100px">

    </div>
</div>



<script>

     $("#createtriplist").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/TripListCreate")',

            success: function (result) {
                $('#tripcreate').html(result);

                   $('#myModal').modal('show');
            }
        });



    });



</script>


@section Scripts {

    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

}
