﻿@model TruckManagementSystem.Models.Trip_List_Details
@{
    ViewBag.Title = "LoadingListVehicleDetails";
}



@Html.HiddenFor(model => model.Id,  new { @id = "hiddendetailid"  })
    <div class="row" style="margin-top:20px">
      

        <div class="dropdown">
            <button class="btn btn-primary  dropdown-toggle"  data-toggle="dropdown" style="margin-left:80px;">
                Create Cash Voucher
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" id="tripexpensevoucher">Create Local trip Voucher</a>
                <a class="dropdown-item" href="#"id="tripreturnvoucher">Create Transit Return Voucher</a>
               
            </div>
        </div>

        <button class="btn btn-primary" id="newFuelVoucher" style="margin-left:50px;">
            Create Fuel Voucher
        </button>

        <button class="btn btn-primary" id="NewDepartureDetails" style="margin-left:50px;">
            Create Departure Details
        </button>

        <button class="btn btn-primary" id="NewDeliveryDetails" style="margin-left:50px;">
            Create Delivery Details
        </button>
    </div>

    <div class="row col-md-10 offset-md-2" style="margin-top:20px;margin-bottom:20px; background-color:white;width:80%">

        <div class="col-md-6">
            <div class="form-row">
                <label class="col-md-3">
                    <strong>Fleet No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.DisplayFor(model => model.Fleet_No)
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-row">
                <label class="col-md-3">
                    <strong>Truck No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.DisplayFor(model => model.Truck_Head)
                </div>

            </div>

        </div>
        <div class="col-md-6">
            <div class="form-row">
                <label class="col-md-3">
                    <strong>Trailer No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.DisplayFor(model => model.Truck_Head)
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-row">
                <label class="col-md-3">
                    <strong>Driver No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.DisplayFor(model => model.Driver_Name)
                </div>

            </div>
        </div>

        <div class="col-md-6">
            <div class="form-row">
                <label class="col-md-3">
                    <strong>Order No:</strong>
                </label>
                <div class="col-sm-8">

                    @Html.DisplayFor(model => model.Order_No)
                </div>

            </div>
        </div>


    </div>


        <div class="row col-md-12">
            <div class="col-md-2">
                <ul>
                    <li>
                        <a id="loadinginfo"><i class="fa fa-fw fa-list-alt"></i>Loading Info</a>
                    </li>

                    <li>
                        <a id="deliveryinfo"><i class="fa fa-fw fa-list-alt"></i>Delivery Info</a>
                    </li>

                    <li>
                        <a id="tripexpensevoucherslist"><i class="fa fa-fw fa-list-alt"></i>Trip Expense Vouchers</a>
                    </li>

                    <li>
                        <a id="fuelexpensevouchers"><i class="fa fa-fw fa-list-alt"></i>Fuel Expense Voucher</a>
                    </li>



                </ul>



            </div>




            <div class="col-md-10" style="background-color:white" id="result_content">




                @Html.Action("LoadingInfo", "TripSheet", new { id = Model.Id })

            </div>

        </div>



        <div id='myModal' class='modal hide fade in'>
            <div class="modal-dialog modal-lg" id="newDetailsCreate" style="width:900px">

            </div>
        </div>

        <div id='myModalEdit' class='modal hide fade in'>
            <div class="modal-dialog  modal-lg" id="maitenanceEdit" style="min-width:1100px">

            </div>
        </div>

        <div id='myModalcreateLPO' class='modal hide fade in'>
            <div class="modal-dialog modal-lg" id="maitenanceCreateLPO" style="min-width:900px">

            </div>
        </div>

        <div id='myModalIssueNote' class='modal hide fade in'>
            <div class="modal-dialog modal-lg" id="maitenanceCreateIssueNote" style="min-width:900px">

            </div>
        </div>
        <script>




             $("#newFuelVoucher").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/NewFuelVoucher")',
            data: { id: $('#hiddendetailid').val() },
            success: function (result) {

                $('#newDetailsCreate').html(result);

               $('#myModal').modal('show');
            }
        });



    });





    $("#NewDepartureDetails").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/NewDepartureDetails")',
            data: { id: $('#hiddendetailid').val() },
            success: function (result) {

                $('#newDetailsCreate').html(result);

               $('#myModal').modal('show');
            }
        });



    });



       $("#NewDeliveryDetails").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/NewDeliveryDetails")',
            data: { id: $('#hiddendetailid').val() },
            success: function (result) {

                $('#newDetailsCreate').html(result);

               $('#myModal').modal('show');
            }
        });



    });


      $("#tripexpensevoucher").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/CreateTripExpenseVoucher")',
            data: { id: $('#hiddendetailid').val() },
            success: function (result) {

                $('#newDetailsCreate').html(result);

               $('#myModal').modal('show');
            }
        });



      });

     $("#tripreturnvoucher").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/CreateTransitReturnVoucher")',
            data: { id: $('#hiddendetailid').val() },
            success: function (result) {

                $('#newDetailsCreate').html(result);

               $('#myModal').modal('show');
            }
        });



    });



     $("#loadinginfo").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/LoadingInfo")',
             data: { id: $('#hiddendetailid').val() },
            success: function (result) {
                $('#result_content').html(result);
            }
        });



     });

    $("#tripexpensevoucherslist").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/LoadingInfo")',
             data: { id: $('#hiddendetailid').val() },
            success: function (result) {
                $('#result_content').html(result);
            }
        });



     });


     $("#deliveryinfo").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/DeliveryInfo")',
             data: { id: $('#hiddendetailid').val() },
            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });




    $("#fuelexpensevouchers").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/TripSheet/FuelInfo")',
               data: { id: $('#hiddendetailid').val() },
          
            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });



     $("#CashPayments").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Paymentslist")',

            success: function (result) {
                $('#result_content').html(result);
            }
        });



    });





     $("#newRepairs").click(function (e) {

        e.preventDefault();

        $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Create")',

            success: function (result) {
                $('#maitenanceCreate').html(result);

                $('#myModal').modal('show');




            }
        });



    });

        function editRepairs(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/Edit")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');




            }
        });


        }


      function editJobCard(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/EditJobCard")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');




            }
        });


        }


      function editLPO(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/EditLPO")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');
            }
        });


        }


      function editPayment(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/editPayment")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceEdit').html(result);

                $('#myModalEdit').modal('show');




            }
        });


        }

          function editIssueNote(obj, value) {

            var idparam = value;

              $.ajax({
            type: 'GET',
            url: '@Url.Content("~/Maintenance/EditIssueNote")',
            data: { "idparam":  idparam},

            success: function (result) {
                $('#maitenanceCreateIssueNote').html(result);

                $('#myModalIssueNote').modal('show');




            }
        });


        }


       $("#editRepairs").click(function (e) {

           e.preventDefault();

           var idparam = $('#editRepairs').val();








    });

      function createLPO(object, detailId) {

        debugger
      //    var suffix = detailId.match(/\d+/)

         var url = '@Url.Action("CreateLPO", "Maintenance")';


                $.ajax({
                    url: url, type: "GET",
                    data: { "rowid": detailId },

                    success: function (result) {
                        // var a = $.parseJSON(data);
    debugger
                            $('#maitenanceCreateLPO').html(result);

                $('#myModalcreateLPO').modal('show');



                    }
                });



    }

    $(function() {
    $('#myPager').on('click', 'a', function() {
        $.ajax({
            url: this.href,
            type: 'GET',
            cache: false,
            success: function(result) {
                $('#result_content').html(result);
            }
        });
        return false;
    });
});

        </script>

        <style>

            ul {
                list-style-type: none;
                margin: 0px;
                padding: 0px;
            }

                ul > li {
                    margin: 5px;
                }
        </style>

        @section Scripts {

            <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

        }


