﻿@model IEnumerable<TruckManagementSystem.Models.Trip_List_Details>

@{
    ViewBag.Title = "LoadingListDetails";
}

<h2>Loading List Details</h2>

<style>
     .table thead > tr > th {
        font-size: 10px;
    }

      .table td {
        font-size: 12px;
    }


</style>
<table class="table table-striped">
    <thead>
        <tr>
            <th>

            </th>
            <th>
               Fleet No
            </th>
            <th>
               Truck No
            </th>
            <th>
               Trailer No
            </th>
            <th style="min-width:130px">
               Driver name
            </th>
            <th>
              Licence No
            </th>
            <th>
               Product
            </th>
            <th>
               Loading Point
            </th>
            <th>
              Mobile No
            </th>
            <th>
              Requested Quantity
            </th>
            <th>
               Unit
            </th>
            <th>
              Destination
            </th>
            <th></th>
        </tr>
    </thead>

@foreach (var item in Model) {
<tbody>
    <tr>
        <td>
            @Html.HiddenFor(modelItem => item.Trip_List_header_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fleet_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Truck_Head)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Truck_Trailer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Driver_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Licence_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Loading_Point)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mobile_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Requested_Qty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Destination)
        </td>
        <td>
                       
            @Html.ActionLink("Details", "LoadingListVehicleDetails", new { id = item.Id }, new { @class = "btn btn-primary" }) 
         
        </td>
    </tr>

</tbody>
}

</table>
