﻿@model TruckManagementSystem.Models.IC_UoM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>IC_UoM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conversion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conversion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UoM_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
