﻿@model IEnumerable<TruckManagementSystem.Models.IC_UoM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UoM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Conversion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UoM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Conversion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UoM_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.UoM_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UoM_Id })
        </td>
    </tr>
}

</table>
