﻿


    <div class="row simple">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Truck_Type")"> <i class="fa fa-clock-o fa-2x"></i>Truck Types</a>
            </div>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Transit_Type")"> <i class="fa fa-hdd-o fa-2x"></i> Transit Types</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Fleets")"> <i class="fa fa-hdd-o fa-2x"></i> Fleets</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Admin")"> <i class="fa fa-hdd-o fa-2x"></i> User Management</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Vendors")"> <i class="fa fa-hdd-o fa-2x"></i> Vendors</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Currencies")"> <i class="fa fa-hdd-o fa-2x"></i> Currencies</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Price_List")"> <i class="fa fa-hdd-o fa-2x"></i> Price List</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Locations")"> <i class="fa fa-hdd-o fa-2x"></i> Locations</a>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Exchange_Rates")"> <i class="fa fa-hdd-o fa-2x"></i> Exchange Rate</a>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Items")"> <i class="fa fa-hdd-o fa-2x"></i> Items</a>
            </div>

        </div>



        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Trucks")"> <i class="fa fa-hdd-o fa-2x"></i> Trucks</a>
            </div>

        </div>


        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "IC_UoM")"> <i class="fa fa-hdd-o fa-2x"></i> Unit Of Measure</a>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("Index", "Categories")"> <i class="fa fa-hdd-o fa-2x"></i> Categories</a>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="list-group">
                <a class="list-group-item" href="@Url.Action("StoreReconciliationIndex", "Purchases")"> <i class="fa fa-hdd-o fa-2x"></i> Main Store Reconciliation Index</a>
            </div>

        </div>
    </div>