﻿@model PagedList.IPagedList<TruckManagementSystem.Models.ExpandedUserDTO>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}
<br />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Create Role", "AddRole", null, new { @class = "btn btn-primary" })

    @Html.ActionLink("View Roles", "ViewAllRoles", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to Home", "../", "Home", null, new { @class = "btn btn-primary" })
</p>
<br />

@using (Html.BeginForm("Index", "Admin", FormMethod.Get))
{
    <div class="form-group">
        Search: &nbsp; @Html.TextBox("SearchStringUserNameOrEmail", ViewBag.CurrentFilter as string)

        <input type="submit" value="Search" />
    </div>
}
<br />



<table class="table">
    <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Role</th>
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.role)</td>
           
            <td>
                @Html.ActionLink("Edit", "EditUser", new { UserName = item.UserName })|
                @if ((item.UserName.ToLower() != this.User.Identity.Name.ToLower()))
                {
                    @Html.ActionLink("Delete", "DeleteUser", new { UserName = item.UserName },
                                    new { onclick = "return confirm('Are you sure you wish to delete this user?');" })
                }
            </td>

        </tr>
    }



</table>


<div>

    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, CurrentFilter = ViewBag.CurrentFilter }))

</div>


