﻿


<h2>View All Roles</h2>

@model IEnumerable<TruckManagementSystem.Models.RoleDTO>

<br />
<div class="row" style="margin-bottom:30px">
    @Html.ActionLink("Back to Home", "Index", "Admin", null, new { @class = "btn btn-primary" })
</div>

<table class="table">
    <tr>
        <th>Role Name</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>  @Html.DisplayFor(modelItem => item.RoleName)</td>

            <td>
                @*@Html.ActionLink("Edit", "E", new { id = item.Item_Id }) |*@
            </td>

        </tr>
    }



</table>


