﻿@model TruckManagementSystem.Models.Price_List





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Price List</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Vendor_Id, "Vendor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Vendor_Id", null, htmlAttributes: new { @class = "form-control", @onchange = "javascript:GetCurrency(this.value);" })

            @*@Html.DropDownList("Vendor_Id", new SelectList(ViewBag.Vendor_Id, "Supp_Id", "Supp_Name"), "Select", htmlAttributes: new { @class = "form-control", @onchange = "javascript:GetCurrency(this.value);" })*@

            @Html.ValidationMessageFor(model => model.Vendor_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Item_Id, "Item", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Item_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Item_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UoM_Id, "Unit", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("UoM_Id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.UoM_Id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Currency, " Vendor Currency", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.HiddenFor(model => model.Currency, htmlAttributes: new { @class = "form-control", @id = "currenhidden" })
            @Html.TextBox("Currency", "Select Currency", htmlAttributes: new { @class = "form-control", @id = "currenshow", @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Currency, "", new { @class = "text-danger" })
        </div>
    </div>








    <div class="form-group">
        @Html.LabelFor(model => model.Buying_Price, "Buying Price", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Buying_Price, new { htmlAttributes = new { @class = "form-control", @id = "bp", @onkeyup = "javascript:Update(this.value);", @type = "number", @step = "0.01" } })
            @Html.ValidationMessageFor(model => model.Buying_Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Tax", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Taxable, (SelectList)ViewBag.Tax, "--Please select one--", htmlAttributes: new { @class = "form-control", @id = "selectTax", @onchange = "javascript:GetValue(this.value);" })
            @Html.ValidationMessageFor(model => model.Taxable, "", new { @class = "text-danger" })


        </div>
    </div>





    <div class="form-group">
        @Html.LabelFor(model => model.Buying_Price_No_Tax, "Buying Price No Tax", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Buying_Price_No_Tax, new { htmlAttributes = new { @class = "form-control", @id = "bpnt", @readonly = "readonly", @type = "number", @step = "0.01" } })
            @Html.ValidationMessageFor(model => model.Buying_Price_No_Tax, "", new { @class = "text-danger" })
        </div>
    </div>




    <div class="form-group">
        @Html.LabelFor(model => model.Selling_Price, "Selling price in USD", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.Selling_Price, new { htmlAttributes = new { @class = "form-control", @style = "float:left;margin-right: 10px;", @type = "number", @step = "0.01" } })
            <div style="padding-top: 8px;"><b>TZS</b> </div>
            @Html.ValidationMessageFor(model => model.Selling_Price, "", new { @class = "text-danger" })
        </div>
        
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


<script>

    function GetValue(value) {


        if (value == 1) {
            var amount = document.getElementById("bp").value;

            var actualprice = ((amount * 100) / 118)

            $("#bpnt").val(actualprice);


        } else
        {

            var amount = document.getElementById("bp").value;

            $("#bpnt").val(amount);


        }

    }


    function GetCurrency(element) {

            var url = '@Url.Action("GetVendorCurrency", "Price_List")';
            
            
            $.ajax({
                url: url,
                data: { vendorid: element},
                cache: false,
                type: "GET",
                success: function (data) {
                    
                    var a = data.id;
                    var b = data.name;


                    $('#currenhidden').val(data.id);

                    $('#currenshow').val(data.name);

                },
                error: function (response) {
                    alert("error : " + response.responseText);
                }
            });

    }

    function Update(amount) {

        var value = $("#selectTax").val();

       

        if (value == 1) {
            var amount = document.getElementById("bp").value;

            var actualprice = ( (amount * 100)/118)

            $("#bpnt").val(actualprice.toFixed(2));


        } else if (value == 2) {

            var amount = document.getElementById("bp").value;

            $("#bpnt").val(amount);
        }

    }


















</script>
