﻿@model TruckManagementSystem.Models.Price_List

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Price_List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.curr.Currency_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curr.Currency_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items.Item_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items.Item_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UoM.UoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UoM.UoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Supplier_Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Supplier_Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Buying_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Buying_Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Selling_Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Selling_Price)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
