﻿@model PagedList.IPagedList<TruckManagementSystem.Models.Price_List>

@using PagedList.Mvc;
@using System.Globalization;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


    @using (Html.BeginForm("Index", "Price_List", FormMethod.Get))
    {
<div class="row">


    <div class="input-group mb-3" style="padding-left:70%">
        @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", @placeholder = "Search By Item Name Or Part Number" })
        <div class="input-group-append">
            <button class="btn btn-success" type="submit" style="height:35px">Go</button>
        </div>
    </div>
</div>
    }

<div class="row">
    <div class="col-md-12">
        <div class="box box-body box-danger">
            <table class="table" id="pricelisttable">
                <thead>
                    <tr>
                        <th>
                            Currency
                        </th>
                        <th>
                            Item Name
                        </th>
                        <th>
                            Unit Of Measure
                        </th>
                        <th>
                            Vendor Name
                        </th>
                        <th>
                            Buying Price
                        </th>
                        <th>
                            Part Number
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.curr.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Items.Item_Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UoM.UoM)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Vendor.Supp_Name)
                            </td>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.Buying_Price)
                            </td>
                            <td style="text-align:right">
                                @Html.DisplayFor(modelItem => item.Part_Number)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }
                </tbody>


            </table>
        </div>
    </div>

    <br />
    <p>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </p>
    <br />
    <div class="row">
       
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))

        
    </div>

</div>

